{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}

    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="{{ base_url() }}/dist/images/paypal.png">
                        <img src="{{ base_url() }}/dist/images/smsplus.png">
                        <img src="{{ base_url() }}/dist/images/paysafecard.png">
                        <img src="https://images.badblock.fr/i/mastercard%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/cb%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/visa%20logo.png" style="width: 7%">
                    </div>
                    <a class="button button-primary solde-button" ><i class="fas fa-user"></i>  Solde : {{ points }} pb</a>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->
{% endblock %}

{% block content %}
    <!-- Debut success -->
    <div class="row center footer-success">
        <div class="four columns">
    <img src="https://images.badblock.fr/i/checked%20%282%29.png" class="img-succes">
        </div>
        <div class="eight columns">
            <h3>Confirmation de l'achat</h3><br>
            <h4>Félicitations pour ton achat. Le compte en question a bien été crédité de la somme demandée.</h4><br><br>
            <h6>La facture a été envoyée par mail, tu peux aussi la consulter ici</h6>
                <a href=""><button type="submit" class="button button-success- button-success-recharge"><h5 class="text-success"><i class="fas fa-file"></i>  Télécharger la facture</h5></button></a>
            </form>
        </div>
    </div>
{% endblock %}

