{% extends 'macros/recharge.twig' %}
{% block recharge_content %}
<div class="c-card c-card--highest recharge-list">
    <div class="c-card__item">
        <div class="recharge-price">
            200
        </div>
        <div class="recharge-real-price">
            € 20.00
        </div>
        <div class="recharge-action">
            <a class="button button-primary" href="{{ path_for('shop.recharge.nextstep') }}?step=1&amount=200">{{ 'shop.chose'|trans }}</a>
        </div>
    </div>
    <div class="c-card__item">
        <div class="recharge-price">
            200
        </div>
        <div class="recharge-real-price">
            € 1.20
        </div>
        <div class="recharge-action">
            <a class="button button-primary" href="{{ path_for('shop.recharge.nextstep') }}?step=1&amount=200">{{ 'shop.chose'|trans }}</a>
        </div>
    </div>
    <div class="c-card__item">
        <div class="recharge-price">
            200
        </div>
        <div class="recharge-real-price">
            € 1.00
        </div>
        <div class="recharge-action">
            <a class="button button-primary" href="{{ path_for('shop.recharge.nextstep') }}?step=1&amount=200">{{ 'shop.chose'|trans }}</a>
        </div>
    </div>
    {#<button class="button button-danger recharge-next">Suivant</button>#}
</div>
{% endblock %}