{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}

    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="{{ base_url() }}/dist/images/paypal.png">
                        <img src="{{ base_url() }}/dist/images/smsplus.png">
                        <img src="{{ base_url() }}/dist/images/paysafecard.png">
                        <img src="https://images.badblock.fr/i/mastercard%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/cb%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/visa%20logo.png" style="width: 7%">
                    </div>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
<!-- Debut liste paiements -->
    
    <h4 class="heading-bar recharge-heading"><span>Recharger mon compte</span></h4>
    <div class="row center">
        <div class="three columns">
            <a href="#pseudo"><input class="tab-top btn btn-actif" type="button" name="bt1" value="Pseudo" onclick="afficher('pseudo');" /></a>
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt2" value="Mode de paiement" onclick="afficher('mode');" />
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt3" value="Somme" onclick="afficher('somme');" />
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt4" value="Validation" onclick="afficher('validation');" />
        </div>
        
    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info progress-bar" style="width: 25%;"></div>
    </div>
    <br>
<!-- 2ème tab -->
    2e tab
    <h5 id="mode">Choisis le mode de paiement</h5>
    <div class="row center">
        <div class="six columns">
            <div class="paypal">
                <img class="paypal-img" src="{{ base_url() }}/dist/images/paypal.png"><br>
                <img class="master-img" src="https://images.badblock.fr/i/mastercard%20logo.png">
                <img class="cb-img" src="https://images.badblock.fr/i/cb%20logo.png"><br>
                <img class="visa-img" src="https://images.badblock.fr/i/visa%20logo.png">
            </div>
        </div>
        <div class="six columns">
            <div class="sms">
                <h5 class="text-sms">Envoie BADBLOCK suivi de ton pseudo au 84300 et reçoit 2.000 points boutique pour 4.50€</h5><span class="info">Service 4.50€/SMS + prix éventuel du SMS</span>
                <form action="" method="get" id="code-recu" name="code-recu" class="form-code">
                <input type="text" id="pseudo" name="pseudo" class="form-code" placeholder="Entrer le code reçu ici">
                <a class="button button-primary shop-recharge-validation-pseudo" onclick="start()">Valider</a>
                
                
            </div>
            <div class="sms-appel-neosurf">
                <img class="neosurf-img" src="https://images.badblock.fr/i/neosurfLogo5.png"><br>
                <img class="smsplus-img" src="https://images.badblock.fr/i/Logo-SMSPlus-e1391101911874.png"><br>
                <h5 class="tel-txt">Téléphone</h5>
            </div>
            <div class="paysafecard"><br><br>
                <img class="paysafe-img" src="{{ base_url() }}/dist/images/paysafecard.png">
            </div>
        </div>
    </div>
<!-- Fin 2ème tab -->
    
{% endblock %}

