{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}

    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="{{ base_url() }}/dist/images/paypal.png">
                        <img src="{{ base_url() }}/dist/images/smsplus.png">
                        <img src="{{ base_url() }}/dist/images/paysafecard.png">
                        <img src="https://images.badblock.fr/i/mastercard%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/cb%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/visa%20logo.png" style="width: 7%">
                    </div>
                    <a class="button button-primary solde-button" ><i class="fas fa-user"></i>  Solde : 1500 pb</a>

                        <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
<!-- Debut liste paiements -->
    
    <h4 class="heading-bar recharge-heading"><span>Recharger mon compte</span></h4>
    <div class="row center">
        <div class="three columns">
            <a href="/shop/recharge">
                <input class="tab-top btn btn-actif" type="button" name="bt1" value="Pseudo"/>
            </a>
        </div>
        <div class="three columns">
            <input class="tab-top btn disabled" type="button" name="bt2" value="Mode de paiement" />
        </div>
        <div class="three columns">
            <input class="tab-top btn disabled" type="button" name="bt3" value="Somme"  />
        </div>
        <div class="three columns">
            <input class="tab-top btn disabled" type="button" name="bt4" value="Validation"  />
        </div>
        
    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info progress-bar" style="width: 25%;"></div>
    </div>
    <br>
    {% if error %}
        <div class="alert alert-error">
            {{ error }}
            <i class="icon icon-remove"></i>
        </div>
    {% endif %}
    <div class="row">
        <div class="six columns recharge-bottom">
            <div class="recharge-info">
                Vous pouvez ici recharger votre compte en <i class="fas fa-money-bill-wave"></i>  points boutique afin d'acheter sur la boutique de Badblock.<br>
                Les rechargements se font de manière totalement sécurisée par différents services que sont PayPal, SMS+, paysafecard etc.<br>
                Pour tout problème rencontré avec la boutique, veuillez <a href="https://forum.badblock.fr/support/open" target="_blank" class="link">ouvrir un ticket</a> ou <a href="mailto:support@badblock.fr" class="link">envoyer un e-mail à support@badblock.fr</a>. <br>
                Toute utilisation de PayPal par un mineur sans accord parental ou tout problème sur PayPal entraînera un ban définitif de notre plateforme.<br>
                Aucun remboursement ne sera effectué si le produit a bien été livré en jeu.
            </div>
        </div>
        <div class="six columns">
            <h5 id="pseudo">Indiquer le pseudo du compte à recharger</h5><br>
            <form action="" method="POST" id="choix-pseudo" name="choix-pseudo" class="recharge-step-1">
                <input type="text" id="pseudo" name="pseudo" class="form-pseudo" placeholder="Entrer le pseudo ici" required><br>
                <button type="submit" class="button button-primary shop-recharge-validation-pseudo">Valider</button>
            </form>
        </div>
        
    </div>
{% endblock %}

