{% extends 'macros/recharge.twig' %}
{% block recharge_content %}
    <div class="recharge-payway-list">
        <div class="c-input-group">
            <a href="{{ path_for('shop.recharge.nextstep') }}?step=1&payway=paypal" class="c-button c-button--block c-button--brand">Paypal</a>
            <a href="{{ path_for('shop.recharge.starpass') }}" class="c-button c-button--block c-button--info">SMS</a>
            <a href="{{ path_for('shop.recharge.nextstep') }}?step=1&payway=paysafecard" class="c-button c-button--block c-button--warning">Paysafe card</a>
            <a href="{{ path_for('shop.recharge.nextstep') }}?step=1&payway=bitcoin" class="c-button disabled c-button--block c-button--success">Bitcoin</a>
            <a href="{{ path_for('shop.recharge.nextstep') }}?step=1&payway=bank_card" class="no-link c-button c-button--block c-button--error">Carte bancaire</a>
        </div>
    </div>
{% endblock %}