{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}
{% block cover %}
    <!-- Recharger -->
    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="{{ base_url() }}/dist/images/paypal.png">
                        <img src="{{ base_url() }}/dist/images/smsplus.png">
                        <img src="{{ base_url() }}/dist/images/paysafecard.png">
                    </div>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->
{% endblock %}
{% block content %}
    <!-- Menu shop -->
    <div class="shop-menu">
        <ul class="shop-menu-menu">
            {% for key in serverlist %}
                <li class="shop-menu-active">
                    <a href="http://example.org" class="no-link">{{ key[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <section class="shop-section">
        <h4 class="heading heading-bar"><span>Cuillère à café</span></h4>
        <div class="product-list">
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
        </div>
    </section>
    <section class="shop-section">
        <h4 class="heading heading-bar"><span>Cuillère à café</span></h4>
        <div class="product-list">
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
        </div>
    </section>
    <section class="shop-section">
        <h4 class="heading heading-bar"><span>Cuillère à café</span></h4>
        <div class="product-list">
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-header">
                    <h5 class="product-title">Grade Gold</h5>
                </div>
                <div class="product-image">
                    <img src="{{ base_url() }}/dist/images/gold.png">
                </div>
                <div class="product-price">200</div>
                <div class="product-footer">
                    <div class="product-action"><button class="button button-primary"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                </div>
            </div>
        </div>
    </section>
    {#<h4 class="heading heading-bar"><span>Disque au chocolat</span></h4>#}
    {#<h4 class="heading heading-bar"><span>Hacker au caramel</span></h4>#}
{% endblock %}