{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}
    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">

    <!-- Recharger -->
    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="{{ base_url() }}/dist/images/paypal.png">
                        <img src="{{ base_url() }}/dist/images/smsplus.png">
                        <img src="{{ base_url() }}/dist/images/paysafecard.png">
                    </div>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->

    <script>
        function opentab(evt, serv) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(serv).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

{% endblock %}

{% block content %}
    {% if flash('shop_error') %}
        {% for flash in flash('shop_error') %}
            <div class="alert alert-error">
                {{ flash }}
                <i class="icon icon-remove"></i>
            </div>
        {% endfor %}
    {% endif %}
{% if promo != false %}
    <section class="shop-section" class="tabcontent">
        <h4 class="heading heading-bar"><span>Les Promotions </span></h4>
        <div class="product-list">
            {% for key in promo %}
                <div class="product-item product-item-promotion">
                    <div class="product-header">
                        <h5 class="product-title">{{ key[1] }}</h5>
                    </div>
                    <div class="product-image">
                        <img src="{{ base_url() }}/dist/images/shop/{{ key[3] }}">
                    </div>
                    <div class="product-price product-promotion">{{ key[5] }}</div>
                    <div class="promotion">{{ key[2] }}</div>
                    <div class="promotion-reduction">{{ key[4] }}%</div>
                    <div class="product-footer">
                        <div class="product-action"><button idpro="{{ key[0]["$oid"] }}" class="button button-primary achat"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}

    <!-- Menu shop -->
    <div class="shop-menu">
        <ul class="shop-menu-menu">
            {% for key in serverlist %}
                <li class="shop-menu-active">
                    <a class="no-link" onclick="opentab(event, '{{ key[1] }}')">{{ key[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% for key in serverlist %}
        <div id="{{ key[1] }}" class="tabcontent">
            {% for key in key[2] %}
            <section class="shop-section-{{ key[1] }}" class="tabcontent">
                <h4 class="heading heading-bar"><span>{{  key[1] }}</span></h4>
                    <div class="product-list">
                        {% for key in key[2] %}
                            {% if key[4] %}
                                <div class="product-item product-item-promotion">
                                    <div class="product-header">
                                        <h5 class="product-title">{{ key[1] }}</h5>
                                    </div>
                                    <div class="product-image">
                                        <img src="{{ base_url() }}/dist/images/shop/{{ key[3] }}">
                                    </div>
                                    <div class="product-price product-promotion">{{ key[5] }}</div>
                                    <div class="promotion">{{ key[2] }}</div>
                                    <div class="promotion-reduction">{{ key[4] }}%</div>
                                    <div class="product-footer">
                                        <div class="product-action"><button idpro="{{ key[0]["$oid"] }}" class="button button-primary achat"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="product-item">
                                    <div class="product-header">
                                        <h5 class="product-title">{{ key[1] }}</h5>
                                    </div>
                                    <div class="product-image">
                                        <img src="{{ base_url() }}/dist/images/shop/{{ key[3] }}">
                                    </div>
                                    <div class="product-price">{{ key[2] }}</div>
                                    <div class="product-footer">
                                        <div class="product-action"><button idpro="{{ key[0]["$oid"] }}" class="button button-primary achat"><i class="icon icon-shopping-cart"></i> Commander</button></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            </section>
            {% endfor %}
        </div>
    {% endfor %}

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script>
        $('.achat').click(function(){

            var prod_id = $(this).attr("idpro");

            var request = $.ajax({
                url: "shop/achat/"+prod_id,
                method: "POST",
                data: { prod_id : prod_id },
                dataType: "html"
            });

            request.done(function( msg ) {
                $('[data-remodal-id=shop-succes]').remodal().open();
            });

            request.fail(function( jqXHR, textStatus ) {
                if(jqXHR.status == 406){
                    $('[data-remodal-id=shop-error]').remodal().open();
                }else if (jqXHR.status == 409){
                    $('[data-remodal-id=shop-error-login]').remodal().open();
                }
            });

        });
    </script>

    <!-- Shop Modal -->
    <div class="remodal modal-remodal" data-remodal-id="shop-error">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Désoler, mais vous n'avez pas les points néssecaires</h1>
        <div class="recharge-button">
            <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
        </div>
    </div>
    <!-- Fin Shop modal -->


    <!-- Shop Succes Modal -->
    <div class="remodal modal-remodal" data-remodal-id="shop-succes">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Achat éffectué avec succès !</h1>
    </div>
    <!-- Fin Shop Succes modal -->


    <!-- Shop Succes Modal -->
    <div class="remodal modal-remodal" data-remodal-id="shop-error-login">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vous devez être connecter pour effectuer un achat !</h1>
    </div>
    <!-- Fin Shop Succes modal -->



{% endblock %}