{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}

    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="{{ base_url() }}/dist/images/paypal.png">
                        <img src="{{ base_url() }}/dist/images/smsplus.png">
                        <img src="{{ base_url() }}/dist/images/paysafecard.png">
                        <img src="https://images.badblock.fr/i/mastercard%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/cb%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/visa%20logo.png" style="width: 7%">
                    </div>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
    <!-- Début infos -->
    <h4 class="heading-bar recharge-heading"><span>Étape 1 - Recharger mon compte</span></h4>
    <div class="row">
        <div class="seven columns">
            <div class="recharge-info">
                Vous pouvez ici recharger votre compte en <i class="fa fa-money"></i>  points boutique afin d'acheter sur la boutique de Badblock.<br>
                Les rechargements se font de manière totalement sécurisée par différents services que sont PayPal, SMS+, paysafecard etc.<br>
                Pour tout problème rencontré avec la boutique, veuillez <a href="https://forum.badblock.fr/support/open" target="_blank" class="link">ouvrir un ticket</a> ou <a href="mailto:support@badblock.fr" class="link">envoyer un e-mail à support@badblock.fr</a>. <br>
                Toute utilisation de PayPal sans accord parental ou tout problème sur PayPal entraînera un ban définitif de notre plateforme.<br>
                Notez que nous ne faisons pas de remboursements lorsque le produit a bien été livré en jeu.
            </div>
        </div>
<!-- Fin infos -->
        <div class="five columns">
            <div class="step-contains center">
                <h5 class="text-center">Entrez votre pseudo</h5>
                <img src="https://images.badblock.fr/i/image7710_2018-08-05_23-40-49.png" class="center shop-recharge-head"><br>
                <input type="text" id="pseudo" name="pseudo" value="{{ player }}"><br>
                <a class="button button-primary shop-recharge-validation" onclick="start()">Valider</a>
            </div>
        </div>
    </div>
<!-- Debut liste paiements -->   
    <h4 class="heading-bar recharge-heading"><span>Étape 2 - Choisir mon mode de paiement</span></h4>
    <div class="row center">
        <div class="six columns">
            <h4 class="heading-bar"><span>PayPal</span></h4>
            <div class="paypal">
                <br><br><br>
                <img src="{{ base_url() }}/dist/images/paypal.png" class="paypal-img"><br><br>
                <a class="button button-primary" onclick="start()">Voir les offres disponbiles</a>
            </div>
            <h4 class="heading-bar"><span>Carte bancaire & Internet +</span></h4>
            <div class="cb"><br>
                <img src="https://images.badblock.fr/i/mastercard%20logo.png" class="mastercard-img">
                <img src="https://images.badblock.fr/i/cb%20logo.png" class="cb-img"><br>
                <img src="https://images.badblock.fr/i/visa%20logo.png" class="visa-img"><br>
                <a class="button button-primary" onclick="start()">Voir les offres disponbiles</a>
            </div>
        </div>
        <div class="six columns">
            <h4 class="heading-bar"><span>paysafecard</span></h4>
            <div class="paysafecard"><br><br><br>
                <img src="{{ base_url() }}/dist/images/paysafecard.png" class="paysafe-img"><br><br>
                <a class="button button-primary" onclick="start()">Voir les offres disponbiles</a>
            </div>
            <h4 class="heading-bar"><span>Dedipass (mobile)</span></h4>
            <div class="mobile"><br><br>
                <img src="https://images.badblock.fr/i/dedi.png" class="dedipass-img"><br><br>
                <a class="button button-primary" onclick="start()">Voir les offres disponbiles</a>
            </div>
        </div>
    </div>
    {% for k,pay in paiement %}
        {{ k }}
        {% for p,m in pay %}
            {{ m['points'] }}
            {{ m['price'] }}
        {% endfor %}
    {% endfor %}



{% endblock %}

