{% extends "default.twig" %}
{% set active_page = "home" %}
{% set hide_title = true %}
{% set h2 = true %}
{% set title = 'BadBlock – Serveur Minecraft Gratuit Français : MiniJeux, SkyBlock et plus' %}
{% block cover %}
<!------Cover------>
<section>
    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-8 col-lg-8">
                        <h3>Serveur minecraft gratuit</h3>
                        <div class="rsp-button-center">
                            <a title="Launcher Minecraft" class="button button-success" href="/launcher-minecraft"><i class="fal fa-gamepad"></i> Jouez dés maintenant !</a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-4 col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------Cover fin------>
{% endblock %}
{% block content %}
<<<<<<< HEAD
    <!-- Main content -->
    <!-- Articles pined -->
    <div class="eight columns">
        <!-- end Articles pined -->
        <!-- Articles -->
        <div class="articles-home">
            <h4 class="heading heading-bar"><span>Dernières vidéos sur BadBlock</span></h4>
                <!-- Première ligne de card -->
            <div class="mosaic">
                <article class="card" style="height: 151px;">
                    <iframe width="350" src="https://www.youtube.com/embed/RmiNbJHa9SQ?rel=0&mute=1&autoplay=1" frameborder="0" allow="width: 350px; height: 100%; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <article class="card" style="height: 151px;">
                    <iframe width="350" src="https://www.youtube.com/embed/jpmVsDi3u7c" frameborder="0" allow="width: 350px; height: 100%; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <article class="card" style="height: 151px;">
                    <iframe width="350" src="https://www.youtube.com/embed/-k4yTBXzK-w" frameborder="0" allow="width: 350px; height: 100%; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <a class="card card-second card-plus no-link" href="/youtube" style="width: 350px; height: 151px;" title="Ajouter ma vidéo YouTube">
                    <div class="card-plus-text">Ajouter ma vidéo ici</div>
                    <i class="icon icon-calcplus"></i>
                </a>
            </div>
<!-- Main content -->
<!-- Articles pined -->
<div class="row">
    <div class="col-12 col-md-8">
        {% if posts_count > 0 %}
        <div class="mosaic">
            {% for infos in first_row %}
            {{ include('macros/card.twig') }}
            {% endfor %}
        </div>
        <div class="mosaic">
            {% for infos in second_row %}
            {% set card_special_class = "card-second" %}
            {{ include('macros/card.twig') }}
            {% endfor %}
            <!-- Plus card -->
            <a class="card card-second card-plus no-link" href="{{ path_for('all-posts') }}" title="Accéder au post {{ 'home.cards.more_posts'|trans }}">
                        <div class="card-plus-text">{{ 'home.cards.more_posts'|trans }}</div>
                        <i class="icon icon-calcplus"></i>
                    </a>
            <!-- Fin plus card-->
        </div>
        <!-- Fin seconde ligne de card -->
        {% endif %}
        {% if posts_count == 0 %}
        <div class="no-item-container">
            <div class="no-item-content">
                <h4><i class="icon-erroralt"></i></h4>
                <h4>{{ 'blog.no_posts'|trans }}</h4>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-12 col-md-4">
        <!-- Main content fin -->
    {% include 'macros/sidebar.twig' %}
    <script async defer type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b9e472db79400bd"></script>
    
    </div>
    </div>
</div>
{% endblock %}
