{% extends "default.twig" %}
{% set show_title = false %}
{% set title = "Acceuil" %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column">
                    <h4 class="cover-heading">Lorem ipsum dolor sit amet<br>Morbi tempus quam in mi pharetra</h4>
                    <div class="animated bounceInLeft">
                        <a class="button button-primary" href="#"><i class="icon-play icon"></i> Jouer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}
    <!-- Main content -->
    <div class="eight columns">
        <!-- Articles pined -->

        <!-- end Articles pined -->
        <!-- Articles -->
        <div class="articles-home">
            <h4 class="heading heading-bar"><span>Les derniers articles</span></h4>
            {% if posts_count > 0 %}
                <div class="mosaic">
                    {% for infos in first_row %}
                        <article class="card">
                            <header class="card-thumb">
                                <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                                    <img src="{{ infos.thumb_url }}">
                                </a>
                            </header>
                            <div class="card-body">
                                <div class="card-title"><a
                                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">{{ infos.title }}</a>
                                </div>
                                <div class="card-subtitle">
                                    <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                                        <i class="icon icon-user"></i>
                                        {{ infos.author.name }}
                                    </a>
                                    <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                                        <i class="icon icon-time"></i>
                                        {{ timeago(infos.created_at) }}
                                    </a>
                                </div>
                                <p class="card-description">
                                    {{ infos.summary }}
                                </p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            <!-- Fin première ligne de card -->
            <div class="mosaic">
                    {% for infos in second_row %}
                        <article class="card card-second">
                            <header class="card-thumb">
                                <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                                    <img src="{{ infos.thumb_url }}">
                                </a>
                            </header>
                            <div class="card-body">
                                <div class="card-title"><a
                                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">{{ infos.title }}</a>
                                </div>
                                <div class="card-subtitle">
                                    <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                                        <i class="icon icon-user"></i>
                                        {{ infos.author.name }}
                                    </a>
                                    <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                                        <i class="icon icon-time"></i>
                                        {{ timeago(infos.created_at) }}
                                    </a>
                                </div>
                                <p class="card-description">
                                    <a class="button button-primary"
                                       href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">En
                                        savoir plus</a>
                                </p>
                            </div>
                        </article>
                    {% endfor %}

                <!-- Plus card -->
                <a class="card card-second card-plus no-link" href="{{ path_for('all-posts') }}">
                    <div class="card-plus-text">Plus d'articles</div>
                    <i class="icon icon-calcplus"></i>
                </a>
                <!-- Fin plus card-->
            </div>
            {% endif %}
            <!-- Si pas d'articles -->
            {% if posts_count == 0 %}
            <div class="no-item-container">
                <div class="no-item-content">
                    <h4><i class="icon-erroralt"></i></h4>
                    <h4>Aucun articles disponibles</h4>
                </div>
            </div>
            {% endif %}
            <!-- Fin si pas d'articles -->
        </div>
        <!-- Articles Fin -->
    </div>
    <!-- Main content fin -->

    <!---side bar--->
    <div class="four columns">
        <div class="side-bar sidetexte">
            <div class="side-item">
                <h4 class="heading-bar"><span>Lorem imsum</span></h4>
                <input type="submit" value="submit input">
                <br>
                <input type="submit" value="submit input">
                <br>
                <input type="submit" value="submit input">
            </div>
            <div class="side-item">
                <h4 class="heading-bar"><span>Teamspeak</span></h4>
                <a class="button button-primary" value="ts.badblock.fr" href="{{ ts3_query }}"><i
                            class="icon icon-chat"></i>
                    ts.badblock.fr</a>
            </div>
            <div class="side-item">
                <h4 class="heading-bar"><span>Minecraft</span></h4>
                <button class="button-primary">Play.badblock.fr</button>
            </div>
            <div class="side-item">
                <h4 class="heading-bar"><span>Résaux sociaux</span></h4>
                <ul class="sidebar-social-links">
                    <li><a href="https://twitter.com/badblockgame" target="_blank"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://fr-fr.facebook.com/BadBlockGame/" target="_blank"><i class="icon-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <!---Slide bar Fin--->

{% endblock %}