{% extends "default.twig" %}
{% set show_title = true %}
{% set title = "Staff" %}
{% set sub_title = "Liste du staff (#{ nb } membres)" %}
{% block content %}
    <!-- Main content -->
    <div class="staff-header row">
        <div class="eight columns">
        <h2 class="margin-top-small">{{ title }}</h1>
        <h5 class="margin-top-small">{{ sub_title }}</h5>
        <h6>Le staff est l'équipe qui travaille bénévolement (pour la plupart) pour Badblock. Tout joueur peut prétendre à un poste, par le biais d'une candidature écrite suivie d'un entretien oral, tant qu'il respecte les conditions définies par les membres de Haute Instance et de Très Haute Instance.</h6>
        </div>
        <div class="four columns">
        <a class="button button-danger info-recrutement" href="https://forum.badblock.fr/forums/recrutement-badblock.86/" title="Recrutement de BadBlock" target="_blank"><i class="far fa-file-alt"></i>    Informations recrutement</a>
        </div>
    </div>
    <div class="staff ">
        {% for k,key in staff %}
                {% if k % 2 == 0 %}
                    <div class="row staff-width">

                {% endif %}
                    <section>
                        <h4 class="heading heading-bar"><span>{{ key['name'] }} - {{ key["data"]|length }}</span></h4>
                            <div class="players-list inline">
                                {% for ft in key['data'] %}
                                    <div class="card-staff">
                                        <img src="https://cdn.badblock.fr/head/{{ ft[0] }}/60.png" title="Tête de {{ ft[0] }}" alt="Tête de {{ ft[0] }}" class="players-list-avatar">
                                        <span class="players-list-name">{{ ft[0] }}</span>
                                        
                                    </div>
                                {% endfor %}
                            </div>
                    </section>
                {% if k % 2 != 0 %}
                    </div>
                {% endif %}

            {% endfor %}
    {% if staff|length % 2 != 0 %}
        </div>
    {% endif %}
    </div>
{% endblock %}