{% extends "default.twig" %}
{% set show_title = true %}
{% set title = "Staff" %}
{% set sub_title = "Liste du staff" %}
{% block content %}
    <!-- Main content -->
    <div class="staff">
        <section>
            <h4 class="heading"><span>Fondateurs</h4>
            <ul class="players-list">
                {% for key in owner %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                             class="players-list-avatar">
                        <span class="players-list-username">{{ key }}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading"><span>Administrateurs</h4>
    </div>
    <ul class="players-list">
        {% for key in admin %}
            <li>
                <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                     class="players-list-avatar">
                <span class="players-list-username">{{ key }}</span>
            </li>
        {% endfor %}
    </ul>
    </section>
    <section>
        <h4 class="heading"><span>Développeurs</h4></div>
        <ul class="players-list">
            {% for key in dev %}
                <li>
                    <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                         class="players-list-avatar">
                    <span class="players-list-username">{{ key }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h4 class="heading"><span>Superviseurs</h4></div>
        <ul class="players-list">
            {% for key in sup %}
                <li>
                    <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                         class="players-list-avatar">
                    <span class="players-list-username">{{ key }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
    <h4 class="heading"><span>Administrateurs</h4></div>
    <ul class="players-list">
        {% for key in admin %}
            <li>
                <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}" class="players-list-avatar">
                <span class="players-list-username">{{ key }}</span>
            </li>
        {% endfor %}
    </ul>
    <section>
        <h4 class="heading"><span>Modérateurs</h4></div>
        <ul class="players-list">
            {% for key in modo %}
                <li>
                    <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                         class="players-list-avatar">
                    <span class="players-list-username">{{ key }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h4 class="heading"><span>Helpers</h4></div>
        <ul class="players-list">
            {% for key in help %}
                <li>
                    <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                         class="players-list-avatar">
                    <span class="players-list-username">{{ key }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h4 class="heading"><span>Modérateurs forum</h4></div>
        <ul class="players-list">
            {% for key in modof %}
                <li>
                    <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                         class="players-list-avatar">
                    <span class="players-list-username">{{ key }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h4 class="heading"><span>Animateurs</h4></div>
        <ul class="players-list">
            {% for key in anim %}
                <li>
                    <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                         class="players-list-avatar">
                    <span class="players-list-username">{{ key }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h4 class="heading"><span>Staff</span></h4></div>
        <ul class="players-list">
            {% for key in staff %}
                <li>
                    <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key }}"
                         class="players-list-avatar">
                    <span class="players-list-username">{{ key }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
    </div>
    <!-- Main content fin -->

{% endblock %}