{% extends "default.twig" %}
{% set show_title = true %}
{% set title = "Staff" %}
{% set description = "Liste du staff de BadBlock. Rejoins dès maintenant le staff de BadBlock en faisant une candidature." %}
{% set sub_title = "Liste du staff (#{ nb } membres)" %}
{% block content %}
    <!-- Main content -->
    <div class="staff-header row">
        <div class="eight columns">
            <h2 class="margin-top-small">{{ title }}</h1>
                <h5 class="margin-top-small">{{ sub_title }}</h5>
                <p>Le staff est l'équipe qui travaille bénévolement (pour la plupart) pour Badblock. Tout joueur peut
                    prétendre à un poste, par le biais d'une candidature écrite suivie d'un entretien oral, tant qu'il
                    respecte les conditions définies par les membres de Haute Instance et de Très Haute Instance.</p>
        </div>
        <div class="four columns">
            <a class="button button-danger info-recrutement" href="https://badblock.fr/forum/recrutement-badblock.f86/"
               title="Recrutement de BadBlock" target="_blank"><i class="far fa-file-alt"></i> Informations recrutement</a>
        </div>
    </div>
    <div class="staff ">
        <div class="staff-content">
            {% for k, key in staff %}
                {% if key['name'] != 's' and key['name'] != 'Community Manager' and key['name'] != '' %}
                    <div class="staff-content-main">
                        <h3 class="staff-content-title">{{ key['name'] }} <span>({{ key["data"]|length }})</span></h3>
                        <div class="staff-content-group">
                            {% for ft in key['data'] %}
                                <div class="staff-content-member">
                                    <a href="/profile/{{ ft[0] }}" title="Profil de {{ ft[0] }}"><img src="https://cdn.badblock.fr/head/{{ ft[0] }}/64.png" class="staff-img">
                                        <!--<span class="popup name">{{ ft[0] }}</span>-->
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div><!-- Fin du block -->
{% endblock %}