{% extends "default.twig" %}
{% set title = "Staff" %}
{% block content %}
    <!-- Main content -->
    <div class="eight columns">
        <!-- Articles pined -->

        <!-- end Articles pined -->
        <!-- Articles -->
        <div class="articles-home">
            <h4 class="heading heading-bar"><span>Le Staff</span></h4>
            <div class="mosaic">
                Fonda :
                {% for key in owner %}
                    {{ key }}
                {% endfor %}
                Admin :
                {% for key in admin %}
                    {{ key }}
                {% endfor %}
                Dev :
                {% for key in dev %}
                    {{ key }}
                {% endfor %}
                Superviseur
                {% for key in sup %}
                    {{ key }}
                {% endfor %}
                modo
                {% for key in modo %}
                    {{ key }}
                {% endfor %}
                helpeur
                {% for key in help %}
                    {{ key }}
                {% endfor %}
                modo forum
                {% for key in modof %}
                    {{ key }}
                {% endfor %}
                animateur
                {% for key in anim %}
                    {{ key }}
                {% endfor %}
                staff
                {% for key in staff %}
                    {{ key }}
                {% endfor %}



            </div>
        </div>
        <!-- Articles Fin -->
    </div>
    <!-- Main content fin -->

{% endblock %}