{% extends "default.twig" %}
{% set active_page = "youtubeur" %}
{% set h2 = true %}
{% set title = 'BadBlock – Serveur Minecraft Gratuit Français : MiniJeux, SkyBlock et plus - Nos Youtubeurs' %}
{% set description = "Liste de nos Youtubeurs partenaires. Rejoins dès maintenant notre équipe de vidéastes en faisant une candidature." %}
{% block cover %}
    <!------Cover------>
    <section>
        <div class="cover-back">
            <div class="cover cover-profile">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-md-8 col-lg-8">
                            <h3>Serveur minecraft gratuit</h3>
                            <div class="rsp-button-center">
                                <a title="Jouer Minecraft" class="button button-success" href="/jouer"><i
                                            class="fal fa-gamepad"></i> Jouez dés maintenant !</a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4 col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------Cover fin------>
{% endblock %}
{% block content %}
    <div class="youtubeur-content">
        <div class="row">
            <div class="col-12">
                <h4 class="heading heading-bar"><span>Nos Youtubeurs</span></h4>
            </div>
            {% for value in data %}
                <div class="col-12 col-md-4">
                    <div class="youtubeur-item">
                        <img src="{{ value['img'] }}" title="Chaîne de {{ value['title'] }}" class="rounded-circle">
                        <div class="youtubeur-item-info">
                            <strong class="youtubeur-item-title">{{ value['title'] }}</strong>
                            <p class="youtubeur-item-sub">{{ value['sub'] }} abonnés</p>
                        </div>
                        <a href="{{ value['link'] }}" target="_blank" class="button button-success">s'abonner</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

