{% extends 'default.twig' %}
{% set title = 'user.dashboard_title'|trans %}
{% set sub_title = 'user.dashboard_subtitle'|trans~user.username %}
{% set show_title = false %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <div class="profile-title">
                        <div class="profile-mc-head"><img src="https://cdn.badblock.fr/head/{{ user.name }}/110.png" title="Tête de {{ user.name }}" alt="Tête de {{ user.name }}"></div>
                        <div>
                            <h2 class="cover-heading">Bonjour, {{ user.realName }}.</h2>
                            <span class="badge badge-{{ user.permissions.group }}">{{ ucfirst(user.permissions.group) }}</span>
                            {% for key, permission in user.permissions.alternateGroups %}
                                <span class="badge badge-{{ key }}">{{ ucfirst(key) }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="container">
                    <ul>
                        <li><i class="icon icon-bookmarkalt"></i> {{ user.game.level|number_format(0, '', ' ') }} <span>Levels</span></li>
                        <li><i class="fas fa-bolt"></i> {{ user.game.xp|number_format(0, '', ' ') }} <span>Xp</span></li>
                        <li><i class="icon icon-value-coins"></i> {{ user.game.badcoins|number_format(0, '', ' ') }} <span>BadCoins</span></li>
                        <li><i class="icon icon-paperboat"></i> {{ vote|number_format(0, '', ' ') }} <span>Vote(s)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}

    <script>
        function opentab(evt, serv) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("no-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(serv).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!-- Menu shop -->
    <div class="user-menu">
        <ul>
            <li class="user-tab">
                <a class="no-link" onclick="opentab(event, '1')"><i class="fas fa-info"></i> Compte</a>
            </li>
            <li class="user-tab">
                <a class="no-link" onclick="opentab(event, '2')"><i class="fas fa-archive"></i> Casier</a>
            </li>
            <li class="user-tab">
                <a class="no-link" onclick="opentab(event, '3')"><i class="fas fa-shopping-bag"></i> Achats</a>
            </li>
            <li class="user-tab">
                <a class="no-link" onclick="opentab(event, '4')"><i class="fas fa-cogs"></i> Paramètres</a>
            </li>
            <li class="user-tab">
                <a class="no-link" onclick="opentab(event, '6')"><i class="fas fa-lock"></i> Connexions</a>
            </li>
            <li class="user-tab">
                <a class="no-link" onclick="opentab(event, '5')"><i class="far fa-edit"></i> Grade</a>
            </li>
            
            <li class="user-tab">
                <a class="no-link" onclick="window.open('https://forum.badblock.fr/mon-compte', 'name');"><i class="far fa-file-alt"></i> Forum</a>
            </li>
        </ul>
    </div>

    <div id="1" class="tabcontent">
        <section class="shop-section-1" class="tabcontent">
            <h4 class="heading heading-bar" style="margin-top: 50px;"><span>Informations générales </span></h4>
            <div class="row">
                <div class="six columns">
                    <ul class="user-info">
                        <li>Niveau : <span>{{ user.game.level|number_format(0, '', ' ') }} niveau(x)</span></li>
                        <li>Point(s) d'expérience : <span>{{ user.game.xp|number_format(0, '', ' ') }} point(s)</span></li>
                        <li>Nombre de BadCoin(s) : <span>{{ user.game.badcoins|number_format(0, '', ' ') }} BC</span></li>
                        <li>Nombre de vote(s) : <span>{{ vote|number_format(0, '', ' ') }} vote(s)</span></li>
                    </ul>
                </div>
                <div class="six columns">
                    <img src="https://minotar.net/body/{{ user.name }}/150.png" title="Avatar de {{ user.name }}" alt="Avatar de {{ user.name }}" class="avatar-player">
                </div>
            </div>
        </section>
    </div>
    <div id="2" class="tabcontent" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            {% if sanctions != false %}
                <h4 class="heading heading-bar" style="margin-top: 50px;"><span>Mes 10 dernières sanctions</span></h4>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><font color="black">Pseudonyme</font></td>
                                <td><font color="black">Date</font></td>
                                <td><font color="black">Type</font></td>
                                <td><font color="black">Auteur</font></td>
                                <td><font color="black">Expiration</font></td>
                                <td><font color="black">Raison</font></td>
                            </tr>

                            {% for key in sanctions %}
                                <tr>
                                    <td>{{ key["pseudo"] }}</td>
                                    <td>{{ key["date"] }}</td>
                                    <td><span class="label label-danger">{{ key["type"] }}</span></td>
                                    <td><a href="/profile/{{ key["banner"] }}" title="Profil de {{ key['banner'] }}">{{ key["banner"] }}</a></td>
                                    {% if key["expire"] == -1 %}
                                        <td>Aucune</td>
                                    {% else %}
                                        <td>{{ key["expire"] | date("m/d/Y") }}</td>
                                    {% endif %}
                                    <td>{{ key["reason"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% else %}
                <div class="no-item-container">
                    <div class="no-item-content">
                        <h4 class="flex-center"><i class="icon-erroralt"></i></h4>
                        <h4>Aucune sanction</h4>
                    </div>
                </div>
            {% endif %}
    </div>
    <div id="3" class="tabcontent" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            {% if factures != false %}
                <br>
                <h4 class="heading heading-bar"><span>Mes Rechargement(s)</span></h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><font color="black">Pseudo</font></td>
                        <td><font color="black">Date</font></td>
                        <td><font color="black">Montant</font></td>
                        <td><font color="black">Crédits €</font></td>
                        <td><font color="black"></font></td>
                    </tr>
                    {% for key in factures %}
                        <tr>
                            <td>{{ key["pseudo"] }}</td>
                            <td>{{ key["date"] }}</td>
                            <td>{{ key["price"] }}</td>
                            <td>{{ key["points"] }}</td>
                            <td><a class="button button-primary" href="/dashboard/facture/{{ key['_id'] }}"><i class="icon icon-paperclip"></i> Consulter</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="no-item-container">
                    <div class="no-item-content">
                        <h4 class="flex-center"><i class="icon-erroralt"></i></h4>
                        <h4>Aucun rechargement</h4>
                    </div>
                </div>
            {% endif %}
            {% if buys != false %}
                <br>
                <h4 class="heading heading-bar"><span>Mes achats</span></h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><font color="black">Offre</font></td>
                        <td><font color="black">Date</font></td>
                        <td><font color="black">Points</font></td>
                        <td><font color="black"></font></td>
                    </tr>
                    {% for key in buys %}
                        <tr>
                            <td>Achat de {{ key["name"] }}</td>
                            <td>{{ key["date"] }}</td>
                            <td>{{ key["price"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="no-item-container">
                    <div class="no-item-content">
                        <h4 class="flex-center"><i class="icon-erroralt"></i></h4>
                        <h4>Aucun achat sur la boutique</h4>
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
    <div id="4" class="tabcontent para" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            <h4 class="heading heading-bar" style="margin-top: 50px;"><span>Mes paramètres </span></h4>
            <div class="six columns">
                <div class="span">
                    <h4 class="top0">Changer mon mot de passe serveur</h4>
                    <form action="/dashboard/changeserverpassword/" method="post" name="confirm-mdp">
                        <label for="newpassword">Entrez votre nouveau mot de passe</label><input type="password" name="newpassword" id="newpassword" placeholder="Nouveau mot de passe" />
                        <input class="espace-valider"type="password" name="newpasswordverif" id="newpasswordverif" placeholder="Nouveau mot de passe" />
                        <br />
                        <input type="submit" class="button-primary espace-valider"></input>
                        </input>
                    </form>
                </div>
                <div class="span">
                    <h4 class="top0">Relier son Compte TeamSpeak <a href="/" title="Tutoriel pour relier son compte TeamSpeak" style="text-decoration: none; font-size: 15px;"><i class="icon icon-bookmarkalt"></i><span>Tutoriel</span></a></h4>
                    <form action="/dashboard/teamspeak/" method="post" name="confirm-mdp">
                        <label for="newpassword">Entrez votre ID TeamSpeak</label>
                        <input type="text" name="idts" id="idts" placeholder="[URL=client]...[/URL]" />
                        <br />
                        <input type="submit" class="button-primary espace-valider">
                        </input>
                    </form>
                </div>
            </div>
            <div class="six columns">
                <div class="span">
                    <h4 class="top0">Changer mon mode de connexion</h4>
                    <form action="/dashboard/changeserverconnect/" method="post" name="confirm-mdp">
                        {% if user.onlineMode %}
                            <input type="radio" name="selectmode" value="premium" id="rb" checked>Connexion premium
                            <input type="radio" name="selectmode" value="crack" id="rb">Connexion cracké
                        {% else %}
                            <input type="radio" name="selectmode" value="premium" id="rb">Connexion premium
                            <input type="radio" name="selectmode" value="crack" id="rb" checked>Connexion cracké
                        {% endif %}
                        <br />
                        <input type="submit" class="button-primary espace-valider">
                        </input>
                    </form>
                </div>
            </div>

            <div class="six columns">
                <div class="span">
                    <br><h4 class="top0">Changer mon Pseudo</h4>
                    <a
                            class="button button-primary button-play"
                            href="/move"
                            title="Changer de pseudo">Changer mon pseudo !

                    </a>

                </div>
            </div>

        </section>
    </div>
    <div id="5" class="tabcontent para" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            {% if custom != false %}
                <h4 class="heading heading-bar" style="margin-top: 50px;"><span>Mon Grade Legend </span></h4>
                <div class="six columns">
                    <div class="span">
                        <h4 class="top0">État de ma demande :</h4>
                        État :
                        {% if custom['prefix_state'] == true %}
                            <span class="badge badge-default">Accepté</span>
                            Préfix : {{ custom['prefix'] }}
                        {% else %}
                            <span class="badge badge-admin">En attente</span>
                            Préfix : {{ custom['prefix_new'] }}
                        {% endif %}
                    </div>
                    <div class="span">
                        <h4 class="top0">Choisir mon préfixe :</h4>
                        <form action="/dashboard/custom/prefix" method="post" name="confirm-mdp">
                            <label for="newpassword">Entrez votre préfixe, entre 1 & 15 caractères.</label>
                            <input type="text" name="prefix" id="prefix" placeholder="&bFluor" />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                    <div class="span">
                        <h4 class="top0">Choisir la couleur de mes messages</h4>
                        <form action="/dashboard/custom/textcolor" method="post" name="confirm-mdp">
                            <label for="newpassword">Choissisez</label>
                            <select name="color">
                                <option value="Vert clair">Vert clair</option>
                                <option value="Bleu clair">Bleu clair</option>
                                <option value="Rouge clair">Rouge clair</option>
                                <option value="Rose">Rose</option>
                                <option value="Jaune">Jaune</option>
                                <option value="Blanc">Blanc</option>
                                <option value="Bleu foncé">Bleu foncé</option>
                                <option value="Vert foncé">Vert foncé</option>
                                <option value="Bleu/Aqua">Bleu/Aqua</option>
                                <option value="Rouge foncé">Rouge foncé</option>
                                <option value="Violet">Violet</option>
                                <option value="Orange/Gold">Orange/Gold</option>
                                <option value="Gris">Gris</option>
                                <option value="Gris foncé">Gris foncé</option>
                                <option value="Bleu">Bleu</option>
                                <option value="Vert clair souligné">Vert clair souligné</option>
                                <option value="Bleu clair souligné">Bleu clair souligné</option>
                                <option value="Rouge clair souligné">Rouge clair souligné</option>
                                <option value="Rose souligné">Rose souligné</option>
                                <option value="Jaune souligné">Jaune souligné</option>
                                <option value="Blanc souligné">Blanc souligné</option>
                                <option value="Bleu foncé souligné">Bleu foncé souligné</option>
                                <option value="Vert foncé souligné">Vert foncé souligné</option>
                                <option value="Bleu/Aqua souligné">Bleu/Aqua souligné</option>
                                <option value="Rouge foncé souligné">Rouge foncé souligné</option>
                                <option value="Violet souligné">Violet souligné</option>
                                <option value="Orange/Gold souligné">Orange/Gold souligné</option>
                                <option value="Gris souligné">Gris souligné</option>
                                <option value="Gris foncé souligné">Gris foncé souligné</option>
                                <option value="Bleu souligné">Bleu souligné</option>
                                <option value="Vert clair gras">Vert clair gras</option>
                                <option value="Bleu clair gras">Bleu clair gras</option>
                                <option value="Rouge clair gras">Rouge clair gras</option>
                                <option value="Rose gras">Rose gras</option>
                                <option value="Jaune gras">Jaune gras</option>
                                <option value="Blanc gras">Blanc gras</option>
                                <option value="Bleu foncé gras">Bleu foncé gras</option>
                                <option value="Vert foncé gras">Vert foncé gras</option>
                                <option value="Bleu/Aqua gras">Bleu/Aqua gras</option>
                                <option value="Rouge foncé gras">Rouge foncé gras</option>
                                <option value="Violet gras">Violet gras</option>
                                <option value="Orange/Gold gras">Orange/Gold gras</option>
                                <option value="Gris gras">Gris gras</option>
                                <option value="Gris foncé gras">Gris foncé gras</option>
                                <option value="Bleu gras">Bleu gras</option>
                                <option value="Vert clair italique">Vert clair italique</option>
                                <option value="Bleu clair italique">Bleu clair italique</option>
                                <option value="Rouge clair italique">Rouge clair italique</option>
                                <option value="Rose italique">Rose italique</option>
                                <option value="Jaune italique">Jaune italique</option>
                                <option value="Blanc italique">Blanc italique</option>
                                <option value="Bleu foncé italique">Bleu foncé italique</option>
                                <option value="Vert foncé italique">Vert foncé italique</option>
                                <option value="Bleu/Aqua italique">Bleu/Aqua italique</option>
                                <option value="Rouge foncé italique">Rouge foncé italique</option>
                                <option value="Violet italique">Violet italique</option>
                                <option value="Orange/Gold italique">Orange/Gold italique</option>
                                <option value="Gris italique">Gris italique</option>
                                <option value="Gris foncé italique">Gris foncé italique</option>
                                <option value="Bleu italique">Bleu italique</option>                    
                            </select>
                            <br />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                </div>
                <div class="six columns">
                    <div class="span">
                        <h4 class="top0">Créer mon canal TeamSpeak :</h4>
                        <form action="/dashboard/custom/teamspeak_canal" method="post" name="confirm-mdp">
                            <label for="newpassword">Entrez votre nom de canal entre 1 & 25 caractères !</label>
                            <input type="text" name="canal_name" id="canal_name" placeholder="Canal génial !" />
                            <label for="newpassword">Entrer le mot de passe de votre canal !</label>
                            <input type="password" name="canal_psw" id="canal_psw" placeholder="" />
                            <br />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                    <div class="span">
                        <h4 class="top0">Changer d'icône TeamSpeak :</h4>
                        <form action="/dashboard/custom/icone" method="post" name="confirm-mdp">
                            <label for="newpassword">Vous devez envoyer votre fichier sur https://s.badblock.fr/. L'icône doit être un carré (hauteur similaire à la largeur) et doit faire 8 Ko au maximum. Elle doit être en png. Si votre icône ne s'affiche pas, veuillez vérifier que tous les critères soient bons avant de nous contacter.
                                Une fois cela fait, insérez le lien vers l'image ici :</label>
                            <input type="text" name="url_icone" id="canal_psw" placeholder="" />
                            <br />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="twelve columns play">
                    <section>
                        <h4 class="heading-bar"><span>Mon Grade Legend</span></h4>
                        <p class="play-list-ip">
                            <p class="alert alert-error">
                                <strong>Erreur</strong> Pour pouvoir profiter pleinement des options du Grade Legend, vous devez acquérir le grade Legend disponible sur <a href="/shop" style="color: yellow;">la boutique</a>
                            </p>
                        </p>
                    </section>
                </div>
                <div class="six columns disabled">
                    <div class="span">
                        <h4 class="top0">Choisir mon préfixe</h4>
                        <form action="/" method="post" name="confirm-mdp">
                            <label for="newpassword">Entrez votre préfix, entre 1 & 15 caractères !</label>
                            <input type="text" name="prefix" id="prefix" placeholder="&bFluor" />
                            <br />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                    <div class="span">
                        <h4 class="top0">Choisir la couleur de mes messages</h4>
                        <form action="/ " method="post" name="confirm-mdp">
                            <label for="newpassword">Entrez votre préfix, entre 1 & 15 caractères</label>
                            <select name="color">
                                <option value="Vert clair">Vert clair</option>
                                <option value="Bleu clair">Bleu clair</option>
                                <option value="Rouge clair">Rouge clair</option>
                                <option value="Rose">Rose</option>
                                <option value="Jaune">Jaune</option>
                                <option value="Blanc">Blanc</option>
                                <option value="Bleu foncé">Bleu foncé</option>
                                <option value="Vert foncé">Vert foncé</option>
                                <option value="Bleu/Aqua">Bleu/Aqua</option>
                                <option value="Rouge foncé">Rouge foncé</option>
                                <option value="Violet">Violet</option>
                                <option value="Orange/Gold">Orange/Gold</option>
                                <option value="Gris">Gris</option>
                                <option value="Gris foncé">Gris foncé</option>
                                <option value="Bleu">Bleu</option>
                                <option value="Vert clair souligné">Vert clair souligné</option>
                                <option value="Bleu clair souligné">Bleu clair souligné</option>
                                <option value="Rouge clair souligné">Rouge clair souligné</option>
                                <option value="Rose souligné">Rose souligné</option>
                                <option value="Jaune souligné">Jaune souligné</option>
                                <option value="Blanc souligné">Blanc souligné</option>
                                <option value="Bleu foncé souligné">Bleu foncé souligné</option>
                                <option value="Vert foncé souligné">Vert foncé souligné</option>
                                <option value="Bleu/Aqua souligné">Bleu/Aqua souligné</option>
                                <option value="Rouge foncé souligné">Rouge foncé souligné</option>
                                <option value="Violet souligné">Violet souligné</option>
                                <option value="Orange/Gold souligné">Orange/Gold souligné</option>
                                <option value="Gris souligné">Gris souligné</option>
                                <option value="Gris foncé souligné">Gris foncé souligné</option>
                                <option value="Bleu souligné">Bleu souligné</option>
                                <option value="Vert clair gras">Vert clair gras</option>
                                <option value="Bleu clair gras">Bleu clair gras</option>
                                <option value="Rouge clair gras">Rouge clair gras</option>
                                <option value="Rose gras">Rose gras</option>
                                <option value="Jaune gras">Jaune gras</option>
                                <option value="Blanc gras">Blanc gras</option>
                                <option value="Bleu foncé gras">Bleu foncé gras</option>
                                <option value="Vert foncé gras">Vert foncé gras</option>
                                <option value="Bleu/Aqua gras">Bleu/Aqua gras</option>
                                <option value="Rouge foncé gras">Rouge foncé gras</option>
                                <option value="Violet gras">Violet gras</option>
                                <option value="Orange/Gold gras">Orange/Gold gras</option>
                                <option value="Gris gras">Gris gras</option>
                                <option value="Gris foncé gras">Gris foncé gras</option>
                                <option value="Bleu gras">Bleu gras</option>
                                <option value="Vert clair italique">Vert clair italique</option>
                                <option value="Bleu clair italique">Bleu clair italique</option>
                                <option value="Rouge clair italique">Rouge clair italique</option>
                                <option value="Rose italique">Rose italique</option>
                                <option value="Jaune italique">Jaune italique</option>
                                <option value="Blanc italique">Blanc italique</option>
                                <option value="Bleu foncé italique">Bleu foncé italique</option>
                                <option value="Vert foncé italique">Vert foncé italique</option>
                                <option value="Bleu/Aqua italique">Bleu/Aqua italique</option>
                                <option value="Rouge foncé italique">Rouge foncé italique</option>
                                <option value="Violet italique">Violet italique</option>
                                <option value="Orange/Gold italique">Orange/Gold italique</option>
                                <option value="Gris italique">Gris italique</option>
                                <option value="Gris foncé italique">Gris foncé italique</option>
                                <option value="Bleu italique">Bleu italique</option>					
                            </select>
                            <br />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                </div>
                <div class="six columns disabled">
                    <div class="span">
                        <h4 class="top0">Créer mon canal TeamSpeak</h4>
                        <form action="/" method="post" name="confirm-mdp">
                            <label for="newpassword">Entrez votre nom de canal entre 1 & 25 caractères !</label>
                            <input type="text" name="canal_name" id="canal_name" placeholder="Canal génial !" />
                            <label for="newpassword">Entrer le mot de passe de votre canal !</label>
                            <input type="password" name="canal_psw" id="canal_psw" placeholder="" />
                            <br />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                    <div class="span">
                        <h4 class="top0">Changer d'icône TeamSpeak</h4>
                        <form action="/" method="post" name="confirm-mdp">
                            <label for="newpassword">Vous devez envoyer votre fichier sur https://s.badblock.fr/. L'icône doit être un carré (hauteur similaire à la largeur) et doit faire 8 Ko au maximum. Elle doit être en png. Si votre icône ne s'affiche pas, veuillez vérifier que tous les critères soient bons avant de nous contacter.
                                Une fois cela fait, insérez le lien vers l'image ici :</label>
                            <input type="text" name="url_icone" id="canal_psw" placeholder="" />
                            <br />
                            <input type="submit" class="button-primary espace-valider"></input>
                            </input>
                        </form>
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
    <div id="6" class="tabcontent" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            <br>
            {% if connection != false %}
            <h4 class="heading heading-bar"><span>Mes dernières connexions</span></h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><font color="black">Pseudo</font></td>
                    <td><font color="black">Date</font></td>
                    <td><font color="black">Heure</font></td>
                    <td><font color="black">Adresse IP</font></td>
                </tr>
                {% for k,val in connection %}
                    <tr>
                        <td>{{ user.realName }}</td>
                        <td>{{ val.date }}</td>
                        <td>{{ val.time }}</td>
                        <td>{{ val.ip }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {%  else %}
                    <div class="no-item-container">
                        <div class="no-item-content">
                            <h4 class="flex-center"><i class="icon-erroralt"></i></h4>
                            <h4>Aucune(s) connection(s)</h4>
                        </div>
                    </div>
            {% endif %}
        </section>
    </div>

    {% if flash('setting_error') %}
        {% for flash in flash('setting_error') %}
            <div class="remodal modal-remodal " data-remodal-id="shop-succes">
                <button data-remodal-action="close" class="remodal-close"></button>
                <h1>{{ flash }}</h1>
            </div>
            <script>
                $( document ).ready(function() {

                    $('[data-remodal-id=shop-succes]').remodal().open();
                })
            </script>
        {% endfor %}
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>


{% endblock %}

