{% extends 'default.twig' %}
{% set title = 'user.dashboard_title'|trans %}
{% set sub_title = 'user.dashboard_subtitle'|trans~user.username %}
{% set show_title = false %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <div class="profile-title">
                        <div class="profile-mc-head"><img src="https://api.badblock.fr/public/badblock-heads/?name={{ user.name }}" title="Tête du skin"></div>
                        <div>
                            <h2 class="cover-heading">Bonjour, {{ user.name }}.</h2>
                            <span class="badge badge-{{ user.permissions.group }}">{{ ucfirst(user.permissions.group) }}</span>
                            {% for key, permission in user.permissions.alternateGroups %}
                                <span class="badge badge-{{ key }}">{{ ucfirst(key) }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="container">
                    <ul>
                        <li><i class="icon icon-bookmarkalt"></i> {{ user.game.level }} <span>Levels</span></li>
                        <li><i class="icon icon-bookmarkalt"></i> {{ user.game.xp }} <span>Xp</span></li>
                        <li><i class="icon icon-value-coins"></i> {{ user.game.badcoins }} <span>BadCoins</span></li>
                        <li><i class="icon icon-value-coins"></i> {{ user.shoppoints }} <span>Point(s) Boutique</span></li>
                        <li><i class="icon icon-paperboat"></i> {{ user.website.vote }} <span>Vote(s)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}

    <script>
        function opentab(evt, serv) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(serv).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!-- Menu shop -->
    <div class="shop-menu">
        <ul class="shop-menu-menu">
                <li class="shop-menu">
                    <a class="no-link" onclick="opentab(event, '1')">Mes Informations</a>
                </li>
                <li class="shop-menu">
                    <a class="no-link" onclick="opentab(event, '2')">Mon casier</a>
                </li>
                <li class="shop-menu">
                    <a class="no-link" onclick="opentab(event, '3')">Mes Factures</a>
                </li>
                <li class="shop-menu">
                    <a class="no-link" onclick="opentab(event, '4')">Paramètres</a>
                </li>
                <li class="shop-menu">
                    <a class="no-link" onclick="opentab(event, '5')">Grade Custom</a>
                </li>
        </ul>
    </div>

    <div id="1" class="tabcontent">
        <section class="shop-section-1" class="tabcontent">
            <h4 class="heading heading-bar"><span>Informations générales </span></h4>
            <div class="row">
                <div class="six columns">
                    <div class="container">
                        <ul>
                            <li><i class="icon icon-bookmarkalt"></i> {{ user.game.level }} <span>Levels</span></li>
                            <li><i class="icon icon-bookmarkalt"></i> {{ user.game.xp }} <span>Xp</span></li>
                            <li><i class="icon icon-value-coins"></i> {{ user.game.badcoins }} <span>BadCoins</span></li>
                            <li><i class="icon icon-value-coins"></i> {{ user.shoppoints }} <span>Point(s) Boutique</span></li>
                            <li><i class="icon icon-paperboat"></i> {{ user.website.vote }} <span>Vote(s)</span></li>
                        </ul>
                    </div>
                </div>
                <div class="six columns">
                    <img src="https://visage.surgeplay.com/head/512/{{ user.name }}">
                </div>
            </div>
        </section>
    </div>
    <div id="2" class="tabcontent" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            <h4 class="heading heading-bar"><span>Mes 10 dernières sanction(s)</span></h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><font color="black">Pseudonyme</font></td>
                        <td><font color="black">Date</font></td>
                        <td><font color="black">Type</font></td>
                        <td><font color="black">Auteur</font></td>
                        <td><font color="black">Durée</font></td>
                        <td><font color="black">Raison</font></td>
                    </tr>
                    <tr>
                        <td>Fluor</td>
                        <td>25/12/2017 14:57:12</td>
                        <td><span class="label label-danger">BannissementTEMP</span></td>
                        <td><a href="/profile/xMalware">xMalware</a></td>
                        <td>364j23h59m59s</td>
                        <td>.</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div id="3" class="tabcontent" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            <h4 class="heading heading-bar"><span>Mes Factures</span></h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><font color="black">Pseudo</font></td>
                    <td><font color="black">Date</font></td>
                    <td><font color="black">Montant</font></td>
                    <td><font color="black">Points Boutique</font></td>
                    <td><font color="black"></font></td>
                </tr>
                {% for key in factures %}
                    <tr>
                        <td>{{ key["name"] }}</td>
                        <td>{{ key["date"] }}</td>
                        <td>{{ key["price"] }}</td>
                        <td>{{ key["points"] }}</td>
                        <td><a class="button button-primary" href="/dashboard/facture/{{ key['_id'] }}"><i class="icon icon-paperclip"></i> Consulter</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </section>
    </div>
    <div id="4" class="tabcontent" style="display: none;">
        <section class="shop-section-1" class="tabcontent">
            <h4 class="heading heading-bar"><span>Mes paramètres </span></h4>
            <div class="six columns">
                <div class="span">
                    <h4 class="top0">Changer mon mot de passe serveur</h4>
                    <form action="/dashboard/changeserverpassword/" method="post" name="confirm-mdp">
                        <label for="newpassword">Entrez votre nouveau mot de passe</label><input type="password" name="newpassword" id="newpassword" placeholder="Nouveau mot de passe" /> <input type="password" name="newpasswordverif" id="newpasswordverif" placeholder="Nouveau mot de passe" />
                        <input type="submit" class="button-primary"></input>
                        </input>
                    </form>
                </div>
                <div class="span">
                    <h4 class="top0">Relier son Compte TeamSpeak <a href="/"><i class="icon icon-bookmarkalt"></i><span>Tutoriel</span></a></h4>
                    <form action="/dashboard/teamspeak/" method="post" name="confirm-mdp">
                        <label for="newpassword">Entrez votre ID TeamSpeak</label>
                        <input type="text" name="idts" id="idts" placeholder="[URL=client]...[/URL]" />
                        <input type="submit" class="button-primary">
                        </input>
                    </form>
                </div>
            </div>
            <div class="six columns">
                <div class="span">
                    <h4 class="top0">Changer mon mode de connection</h4>
                    <form action="/dashboard/changeserverconnect/" method="post" name="confirm-mdp">
                        {% if user.onlineMode %}
                            <input type="radio" name="selectmode" value="premium" id="rb" checked>Connection premium
                            <input type="radio" name="selectmode" value="crack" id="rb">Connection cracké
                        {% else %}
                            <input type="radio" name="selectmode" value="premium" id="rb">Connection premium
                            <input type="radio" name="selectmode" value="crack" id="rb" checked>Connection cracké
                        {% endif %}
                        <input type="submit" class="button-primary">
                        </input>
                    </form>
                </div>
            </div>

        </section>
    </div>

    {% if flash('setting_error') %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        {% for flash in flash('setting_error') %}
            <div class="remodal modal-remodal " data-remodal-id="shop-succes">
                <button data-remodal-action="close" class="remodal-close"></button>
                <h1>{{ flash }}</h1>
            </div>
            <script>
                $( document ).ready(function() {

                    $('[data-remodal-id=shop-succes]').remodal().open();
                })
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}

