{% extends "default.twig" %}
{% set title = user.name %}
{% set subtitle = 'Ses statistiques' %}
{% block content %}
    <div class="profile-info">
        <div class="container">
            <div class="row">
                <div class="four columns level-container profile-info-content">
                    <span class="profile-info-content-title">Niveau</span>
                    <hr>
                    {{ user.game.level }}
                </div>
                <div class="four columns xp-container profile-info-content">
                    <span class="profile-info-content-title">Xp</span>
                    <hr>
                    {{ user.game.xp }}
                </div>
                <div class="four columns locale-container profile-info-content">
                    <span class="profile-info-content-title">Langue</span>
                    <hr>
                    {{ getLocale(user.game.locale) }}
                </div>
            </div>
        </div>
    </div>
    <div class="profile-stats">
        <h3>Sanctions :</h3>
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>Mute</td>
                <td>
                    {% if user.punish.mute == false %}
                        Aucun Baillonement en cour
                    {% else %}
                        Bailloner pour "{{ user.punish.muteReason }}" j'usqu'au "{{ user.punish.muteEnd }}"
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Ban</td>
                <td>
                    {% if user.punish.ban == false %}
                        Aucun Ban
                    {% else %}
                        Bannis pour "{{ user.punish.banReason }}" par "{{ user.punish.banner }}" j'usqu'au "{{ user.punish.banEnd }}"
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <h3>Rush</h3>
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>Point de Classement</td>
                <td>{{ user.game.stats.rush.kills }}</td>
            </tr>
            <tr>
                <td>Exécutions</td>
                <td>{{ user.game.stats.rush.kills }}</td>
            </tr>
            <tr>
                <td>Morts</td>
                <td>{{ user.game.stats.rush.deaths }}</td>
            </tr>
            <tr>
                <td>Lits capturés</td>
                <td>{{ user.game.stats.rush.brokenbeds }}</td>
            </tr>
            <tr>
                <td>Parties gagnés</td>
                <td>{{ user.game.stats.rush.wins }}</td>
            </tr>
            <tr>
                <td>Parties perdus</td>
                <td>{{ user.game.stats.rush.looses }}</td>
            </tr>
            </tbody>
        </table>

        <h3>Spaceballs</h3>
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>Diaments</td>
                <td>{{ user.game.stats.spaceballs.diamonds }}</td>
            </tr>
            <tr>
                <td>Exécutions</td>
                <td>{{ user.game.stats.spaceballs.kills }}</td>
            </tr>
            <tr>
                <td>Parties gagnés</td>
                <td>{{ user.game.stats.spaceballs.wins }}</td>
            <tr>
                <td>Morts</td>
                <td>{{ user.game.stats.spaceballs.deaths }}</td>
            </tr>
            </tbody>
        </table>

        <h3>Tower</h3>
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>Exécutions</td>
                <td>{{ user.game.stats.tower.kills }}</td>
            </tr>
            <tr>
                <td>Points</td>
                <td>{{ user.game.stats.tower.marks }}</td>
            </tr>
            <tr>
                <td>Parties gagnés</td>
                <td>{{ user.game.stats.tower.wins }}</td>
            </tr>
            <tr>
                <td>Parties perdus</td>
                <td>{{ user.game.stats.tower.looses }}</td>
            </tr>
            </tbody>
        </table>

        <h3>Survival</h3>
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>Exécutions</td>
                <td>{{ user.game.stats.survival.kills }}</td>
            </tr>
            <tr>
                <td>Morts</td>
                <td>{{ user.game.stats.survival.deaths }}</td>
            </tr>
            <tr>
                <td>Parties gagnés</td>
                <td>{{ user.game.stats.survival.wins }}</td>
            </tr>
            <tr>
                <td>Parties perdus</td>
                <td>{{ user.game.stats.survival.looses }}</td>
            </tr>
            </tbody>
        </table>

        <h3>Pearls War</h3>
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>Exécutions</td>
                <td>{{ user.game.stats.pearlswar.kills }}</td>
            </tr>
            <tr>
                <td>Morts</td>
                <td>{{ user.game.stats.pearlswar.deaths }}</td>
            </tr>
            <tr>
                <td>Parties gagnés</td>
                <td>{{ user.game.stats.pearlswar.wins }}</td>
            </tr>
            <tr>
                <td>Parties perdus</td>
                <td>{{ user.game.stats.pearlswar.looses }}</td>
            </tr>
            </tbody>
        </table>

        <h3>Uhc speed</h3>
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>Exécutions</td>
                <td>{{ user.game.stats.uhcspeed.wins }}</td>
            </tr>
            <tr>
                <td>Morts</td>
                <td>{{ user.game.stats.uhcspeed.deaths }}</td>
            </tr>
            <tr>
                <td>Parties gagnés</td>
                <td>{{ user.game.stats.pearlswar.wins }}</td>
            </tr>
            <tr>
                <td>Parties perdus</td>
                <td>{{ user.game.stats.pearlswar.looses }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
