{% extends 'default.twig' %}
{% set active_page = "voter" %}
{% set title = 'Voter !'|trans %}
{% set sub_title = ''|trans~user.username %}
{% set show_title = false %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column">
                    <h4 class="cover-heading">Voter pour soutenir le serveur !</h4>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}
    <section>
        <div class="vote">
    <div class="nothing">
        <div id="step1" class="step step-two four columns">
            <center><h3 class="step-round">I</h3>
            <div class="step-contains">
                <h5 class="text-center">Entrez votre pseudo</h5>
                    <input type="text" id="pseudo" name="pseudo" value="{{ player }}"><br>
                    <a class="button button-primary" onclick="start()" style="width: 95%;">Valider</a>
            </div>
            </center>
        </div>
        <div id="step2" class="step step-first four columns disabled">
            <center><h3 class="step-round">II</h3>
                <div class="step-contains">
                    <h5 class="text-center">Choisissez un Site</h5>
                    <a class="button button-primary" id="btm-rpg" onclick="vote('rpg')" style="width: 95%;">RPG Paradize (3H)</a>
                    <a class="button button-primary" id="btm-msf" onclick="vote('msf')" style="width: 95%;">Serveur-Prive.net (1H30)</a>
                </div>
            </center>
        </div>
        <div class="step step-three four columns">
            <center><h3 class="step-round">III</h3>
            <div class="step-contains">
                <h5 class="text-center">Obtenez votre récompense</h5>
                <div class="tooltip"><button class="button button-primary" id="lot1" onclick="loterie('1')" href="" style="width: 95%;">Points Boutique</button>
                    <span class="tooltiptext tooltip-right">Nécessite 1 <img src="https://images.badblock.fr/i/lingot.png" width="16"></span>
                </div>
                
                <div class="tooltip"><button class="button button-primary disabled" id="lot2" href="" style="width: 95%;">Coffres / Clés</button>
                    <span class="tooltiptext tooltip-right">Nécessite 3 <img src="https://images.badblock.fr/i/lingot.png" width="16"></span>
                </div>

                <div class="tooltip"><button class="button button-primary disabled" id="step3" onclick="bank()" id="bank" style="width: 95%;">Placer en banque</button>
                </div>
            </div>
            </center>
        </div>

        <div class="rewards">
            <h6 class="text-center">RPG Paradize = <img src="https://images.badblock.fr/i/lingot.png" width="16"><img src="https://images.badblock.fr/i/lingot.png" width="16">   Serveur-Prive.net = <img src="https://images.badblock.fr/i/lingot.png" width="16"></h6>
        </div>

        <h3 class="text-center">Les meilleurs votants !</h3>
        <p class="text-center">Retrouvez chaque mois le classement des meilleurs votants de BadBlock !</p>
        <div class="vote-tr">
            <table class="votes">
                <thead>
                    <tr>
                        <td>Rang</td>
                        <td>Joueur</td>
                        <td>Récompense</td>
                        <td>Votes</td>
                    </tr>
                </thead>
                <tbody>
                {% if count(top) > 0 %}
                    {% for k,data in top %}
                        <tr class="votes-{{ k + 1 }}">
                            <td><span>{{ k + 1 }}</span></td>
                            <td class="img"><img src="https://guiria.badblock.fr/head/{{ data['name'] }}/64.png" class="align-middle"/> <span class="align-middle">{{ data['name'] }}</span></td>
                            {% if k < 3 %}
                                <td>15€</td>
                            {% elseif k < 10 %}
                                <td>8.50€</td>
                            {% elseif k < 20 %}
                                <td>5€</td>
                            {% elseif k < 30 %}
                                <td>2.50€</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ data['vote'] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
        </div>
    </div>
</div>

    </section>
    <!-- Reg Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-user">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vous devez vous enregistrer sur le Forum de BadBlock pour voter !</h1>
        <a class="button button-danger" href="https://forum.badblock.fr/inscription/"><i class="icon-repeat"></i>S'inscrire !</a>
    </div>
    <!-- Reg modal -->
    <!-- Time Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-time">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Vous devez attendre pour voter !</h1>
        <a class="button button-danger" data-remodal-action="close"><i class="icon-repeat"></i>Retour</a>
    </div>
    <!-- Time modal -->

    <!-- Out Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-out">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h2 id="time-title" class="text-center">Cliquer sur le bouton pour voter !</h2>
        <a class="button button-danger" id="vote-link" target="_blank" href="" onclick="$('#rpg-vote').removeClass('disabled'); "><i class="fas fa-link"></i>   Voter sur RPG-Paradize</a>
        <div class="step-contains center">
            <br><h5 id="clic-out-txt" class="text-center">Entrer le nombre de clic sortant :</h5>
            <input type="text" id="outvote" name="outvote"><br>
            <button class="accordion" id="clic-out"><i class="fa fa-cogs" aria-hidden="true"></i> C'est quoi le nombre de clic sortant ?</button>
                <div class="panel">
                    <h6 class="text-center">Un clic sortant est un clic effectué sur le site étudié qui dirige l’internaute vers un site externe. Ici, le site étudié est Badblock et le site externe est RPG-Paradize.<br>
                    Le nombre de clic sortant change tous les jours. Pour le voir, il faut cliquer <a href="http://www.rpg-paradize.com/site-IP++play.badblock.fr++UHC++Rush++The+Tower++Faction-45397" target="_blank">ici</a> et regarder le nombre écrit.<br><i class="fas fa-exclamation-triangle"></i>  Attention, le nombre de clic sortant change tous les jours !<br><strong>Trouver le nombre de clic sortant sur RPG-Paradize :</strong> <img src="/dist/images/clic_out.png" id="clic-out-img"></h6>
                </div>
            <a class="button button-primary disabled" id="rpg-vote" onclick="step('rpg')" style="width: 95%;">Valider</a>
        </div>
    </div>
    <!-- Out modal -->

    <!-- Link Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-link">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Cliquer sur le lien pour voter !</h1>
        <a class="button button-danger" id="vote-link2" target="_blank" href="" onclick="vote"><i class="icon-repeat"></i>Voter !</a>
        <br>
        <a class="button button-primary" onclick="step('msf')" style="width: 95%;">Valider</a>
    </div>
    <!-- Link modal -->

    <!-- Error out Modal -->
    <div class="remodal modal-remodal" data-remodal-id="error-vote-link">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title" class="icon-danger">Nombre de clic sortant incorrect !</h1>
        <div class="step-contains center">
            <h5 class="text-center">Entrer le nombre de clic sortant (OUT) :</h5>
            <input type="text" id="outvoter" name="outvoter"><br>
            <a class="button button-primary" onclick="step('rpg')" style="width: 95%;">Valider</a>
        </div>
    </div>
    <!-- Error out Modal -->

    <!-- End Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-end">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Merci de votre soutiens !</h1>
        <h1 id="end-tt"></h1>
        <a class="button button-danger" href="#"><i class="icon-repeat"></i>Fermer</a>
    </div>
    <!-- End modal -->

    <!-- Bank Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-bank">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vos bronze(s) ont bien été placé en banque !</h1>
        <a class="button button-danger" href="#"><i class="icon-closetab"></i>Fermer</a>
    </div>
    <!-- Bank modal -->

    <!-- Bronze Modal -->
    <div class="remodal modal-remodal" data-remodal-id="bronze-modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="bronze-title"></h1>
        <a class="button button-danger" href="#"><i class="icon-closetab"></i>Fermer</a>
    </div>
    <!-- Bronze modal -->


    <script>
        var vote;
        var pseudo;
        var error = false;

        function  bank() {
            $('[data-remodal-id=vote-bank]').remodal().open();
            $("#step3").addClass("disabled");
            $("#lot1").addClass("disabled");
            $("#lot2").addClass("disabled");
            $("#bank").addClass("disabled");
        }

        function vote(vote) {
            $("#step2").addClass("disabled");
            //requet if user exist
            var request = $.ajax({
                url: "/vote/check/",
                method: "POST",
                data: { pseudo : pseudo,
                    vote : vote
                },
                dataType: "html",
                success: function (data) {
                    if (vote == "rpg"){
                        $("#vote-link").attr("href", data);
                        $('[data-remodal-id=vote-out]').remodal().open();
                    }else if (vote == "msf"){
                        $("#vote-link2").attr("href", data);
                        $('[data-remodal-id=vote-link]').remodal().open();
                    }
                }
            });

            request.fail(function( jqXHR, msg ) {
                if(jqXHR.status == 404){
                    $('[data-remodal-id=vote-user]').remodal().open();
                }else if (jqXHR.status == 405){
                    $("#time-title").text("Vous devez attendre " + jqXHR.responseText +" pour voter !");
                    $('[data-remodal-id=vote-time]').remodal().open();
                }
            });
        }
        
        
        
        function start() {
            if($('#pseudo').val() == "" || $('#pseudo').val() == null) {
            }else{
                pseudo = $('#pseudo').val();
                var request = $.ajax({
                    url: "/vote/start",
                    method: "POST",
                    data: {pseudo : pseudo},
                    dataType: "html",
                    success: function (data) {
                    }
                });

                request.fail(function( jqXHR, msg ) {
                    $("#step1").addClass("disabled");
                    $("#step2").removeClass("disabled");
                    if(jqXHR.status == 404){
                        $('[data-remodal-id=vote-user]').remodal().open();
                    }else if (jqXHR.status == 405){
                        data = JSON.parse(jqXHR.responseText);
                        if (data.rpg == false){
                            $("#btm-rpg").addClass("disabled");
                            $("#btm-rpg").text("RPG-Paradize Heure : " + data.time_rpg);
                        }
                        if (data.msf == false){
                            $("#btm-msf").addClass("disabled");
                            $("#btm-msf").text("Serveur-Prive.net Heure : " + data.time_msf);
                        }
                        if (data.rpg == false && data.msf == false){
                            $("#time-title").text("Aucuns de vote de vote de disponible. Veuillez patienter !");
                            $('[data-remodal-id=vote-time]').remodal().open();
                        }
                    }
                });
            }
        }

        function loterie(type){
            var request = $.ajax({
                url: "/vote/loterie/" + type,
                method: "POST",
                data: {pseudo : pseudo},
                dataType: "html",
                success: function (data) {
                    $("#bronze-title").text("Vous avez gagner " + data +" !");
                    $('[data-remodal-id=bronze-modal]').remodal().open();
                }
            });

            request.fail(function( jqXHR, msg ) {
                if (jqXHR.status == 404){
                    $("#bronze-title").text("Il vous manque " + jqXHR.responseText +" bronze(s) pour cette lotterie !");
                    $('[data-remodal-id=bronze-modal]').remodal().open();

                }else if (jqXHR.status == 403){
                    window.location.replace("https://forum.badblock.fr/login");
                }else if (jqXHR.status == 405){
                    $("#bronze-title").text("Rentrer votre pseudo pour utiliser cette fonction !");
                    $('[data-remodal-id=bronze-modal]').remodal().open();
                }
            });
        }

        function step(vote) {
            console.log(vote);
                if (vote == "rpg"){
                    if($('#outvote').val() == "" || $('#outvote').val() == null) {
                    }else{
                        $("#step2").addClass("disabled");
                        if (error){
                            out = $('#outvoter').val()
                        }else{
                            out = $('#outvote').val()
                        }
                        var request = $.ajax({
                            url: "/vote/end/rpg",
                            method: "POST",
                            data: { out : out,
                                pseudo : pseudo
                            },
                            dataType: "html",
                            success: function (data) {
                                $("#end-tt").text("Vous avez gagner " + data +" bronze(s)");
                                $('[data-remodal-id=vote-end]').remodal().open();
                                $("#step3").removeClass("disabled");

                            }
                        });

                        request.fail(function( jqXHR, msg ) {
                            if (jqXHR.status == 405){
                                $('[data-remodal-id=error-vote-link]').remodal().open();
                                error = true;
                            }else if (jqXHR.status == 403){
                                $("#end-tt").text("Vous avez gagner " + jqXHR.responseText +" bronze(s)");
                                $('[data-remodal-id=vote-end]').remodal().open();
                                $("#step3").removeClass("disabled");
                                $("#lot2").addClass("disabled");
                                $("#lot3").addClass("disabled");
                            }
                        });
                    }
                }else{
                    $("#step2").addClass("disabled");

                    var request = $.ajax({
                        url: "/vote/end/msf",
                        method: "POST",
                        data: {pseudo : pseudo},
                        dataType: "html",
                        success: function (data) {
                            $("#end-tt").text("Vous avez gagner " + data +" bronze(s)");
                            $('[data-remodal-id=vote-end]').remodal().open();
                            $("#step3").removeClass("disabled");

                        }
                    });

                    request.fail(function( jqXHR, msg ) {
                        if (jqXHR.status == 405){
                            $('[data-remodal-id=error-vote-link]').remodal().open();
                            error = true;
                        }else if (jqXHR.status == 403){
                            $("#end-tt").text("Vous avez gagner " + jqXHR.responseText +" bronze(s)");
                            $('[data-remodal-id=vote-end]').remodal().open();
                            $("#step3").removeClass("disabled");
                            $("#lot1").addClass("disabled");
                            $("#lot2").addClass("disabled");
                            $("#lot3").addClass("disabled");
                        }
                    });
                }
        }


    </script>
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>

{% endblock %}

