{% extends 'default.twig' %}
{% set active_page = "voter" %}
{% set title = 'Voter !'|trans %}
{% set sub_title = ''|trans~user.username %}
{% set show_title = false %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column">
                    <h4 class="cover-heading">Voter pour soutenir le serveur !</h4>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}
    <section>
        <div class="vote">
    <div class="nothing">
        <div id="step1" class="step step-two four columns">
            <center><h3 class="step-round">I</h3>
            <div class="step-contains">
                <h5 class="text-center">Entrez votre pseudo</h5>
                    <input type="text" id="pseudo" name="pseudo" value="{{ player }}"><br>
                    <a class="button button-primary" onclick="start()" style="width: 95%;">Valider</a>
            </div>
            </center>
        </div>
        <div id="step2" class="step step-first four columns disabled">
            <center><h3 class="step-round">II</h3>
                <div class="step-contains">
                    <h5 class="text-center">Choisissez un Site</h5>
                    <a class="button button-primary" id="btm-msf" onclick="vote('msf')" style="width: 95%;">Serveur-Prive.net (1H30)</a>
                    <a class="button button-primary" id="btm-asf" onclick="vote('asf')" style="width: 95%;">Serveur-Minecraft.net (3H)</a>
                </div>
            </center>
        </div>
        <div class="step step-three four columns">
            <center><h3 class="step-round">III</h3>
            <div class="step-contains">
                <h5 class="text-center">Obtenez votre récompense</h5>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot1" onclick="loterie('1')" href="" style="width: 95%;">
                        Points Boutique
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot2" onclick="loterie('2')" href="" style="width: 95%;">
                        SkyBlock
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot3" onclick="loterie('3')" href="" style="width: 95%;">
                        Mini-jeux
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot4" onclick="loterie('4')" href="" style="width: 95%;">
                        Faction
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot5" onclick="loterie('5')" href="" style="width: 95%;">
                        PvpBox
                    </button>
                </div>
            </div>
            </center>
        </div>

        <div class="rewards">
            <h6 class="text-center">RPG Paradize = <img src="https://images.badblock.fr/i/lingot.png" width="16"><img src="https://images.badblock.fr/i/lingot.png" width="16">   Serveur-Prive.net = <img src="https://images.badblock.fr/i/lingot.png" width="16"></h6>
        </div>

        <h3 class="text-center">Les meilleurs votants !</h3>
        <p class="text-center">Retrouvez chaque mois le classement des meilleurs votants de BadBlock !</p>
        <div class="vote-tr">
            <table class="votes">
                <thead>
                    <tr>
                        <td>Rang</td>
                        <td>Joueur</td>
                        <td>Récompense</td>
                        <td>Votes</td>
                    </tr>
                </thead>
                <tbody>
                {% if count(top) > 0 %}
                    {% for k,data in top %}
                        <tr class="votes-{{ k + 1 }}">
                            <td><span>{{ k + 1 }}</span></td>
                            <td class="img"><img src="https://guiria.badblock.fr/head/{{ data['name'] }}/64.png" class="align-middle"/> <span class="align-middle">{{ data['name'] }}</span></td>
                            {% if k < 3 %}
                                <td>15€</td>
                            {% elseif k < 10 %}
                                <td>8.50€</td>
                            {% elseif k < 20 %}
                                <td>5€</td>
                            {% elseif k < 30 %}
                                <td>2.50€</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ data['vote'] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
        </div>
    </div>
</div>

    </section>
    <!-- Reg Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-user">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vous devez vous enregistrer sur le Forum de BadBlock pour voter !</h1>
        <a class="button button-danger" href="https://forum.badblock.fr/inscription/"><i class="icon-repeat"></i>S'inscrire !</a>
    </div>
    <!-- Reg modal -->
    <!-- Time Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-time">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Vous devez attendre pour voter !</h1>
        <a class="button button-danger" data-remodal-action="close"><i class="icon-repeat"></i>Retour</a>
    </div>
    <!-- Time modal -->

    <!-- Link Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-link">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Cliquer sur le lien pour voter !</h1>
        <a class="button button-danger" id="vote-link2" target="_blank" href="" onclick="vote"><i class="fas fa-link"></i>  Voter !</a>
        <br>
        <a class="button button-primary" onclick="validate()" style="width: 95%;">Valider</a>
    </div>
    <!-- Link modal -->

    <!-- End Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-end">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Merci de votre soutiens !</h1>
        <a class="button button-danger" href="#"><i class="icon-repeat"></i>Fermer</a>
    </div>
    <!-- End modal -->


    <!-- Info Modal -->
    <div class="remodal modal-remodal" data-remodal-id="info-modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="title"></h1>
        <a class="button button-danger" href="#"><i class="icon-closetab"></i>Fermer</a>
    </div>
    <!-- Info modal -->


    <script>
        var type;
        var pseudo;
        var error = false;

        function start() {
            if($('#pseudo').val() == "" || $('#pseudo').val() == null) {
            }else{
                pseudo = $('#pseudo').val();
                var request = $.ajax({
                    url: "/vote/start",
                    method: "POST",
                    data: {pseudo : pseudo},
                    dataType: "html",
                    success: function (data) {
                    }
                });

                request.fail(function( jqXHR, msg ) {
                    $("#step1").addClass("disabled");
                    $("#step2").removeClass("disabled");
                    if(jqXHR.status == 404){
                        $('[data-remodal-id=vote-user]').remodal().open();
                    }else if (jqXHR.status == 405){
                        data = JSON.parse(jqXHR.responseText);
                        if (data.asf == false){
                            $("#btm-asf").addClass("disabled");
                            $("#btm-asf").text("Serveur-Minecraft.net Heure : " + data.time_asf);
                        }
                        if (data.msf == false){
                            $("#btm-msf").addClass("disabled");
                            $("#btm-msf").text("Serveur-Prive.net Heure : " + data.time_msf);
                        }
                        if (data.rpg == false && data.msf == false){
                            $("#time-title").text("Aucuns de vote de vote de disponible. Veuillez patienter !");
                            $('[data-remodal-id=vote-time]').remodal().open();
                        }
                    }
                });
            }
        }

        function vote(vote) {
            $("#step2").addClass("disabled");
            //requet if user exist
            var request = $.ajax({
                url: "/vote/check/",
                method: "POST",
                data: { pseudo : pseudo,
                    vote : vote
                },
                dataType: "html",
                success: function (data) {
                    if (vote == "asf"){
                        type = "asf";
                        $("#vote-link").attr("href", data);
                        $('[data-remodal-id=vote-link]').remodal().open();
                    }else if (vote == "msf"){
                        type = "msf";
                        $("#vote-link2").attr("href", data);
                        $('[data-remodal-id=vote-link]').remodal().open();
                    }
                }
            });

            request.fail(function( jqXHR, msg ) {
                if(jqXHR.status == 404){
                    $('[data-remodal-id=vote-user]').remodal().open();
                }else if (jqXHR.status == 405){
                    $("#time-title").text("Vous devez attendre " + jqXHR.responseText +" pour voter !");
                    $('[data-remodal-id=vote-time]').remodal().open();
                }
            });
        }


        function validate() {
            //requet if user have vote
            var request = $.ajax({
                url: "/vote/end/" + type,
                method: "POST",
                data: {
                    pseudo : pseudo
                },
                dataType: "html",
                success: function (data) {
                    $("#lot1").removeClass("disabled");
                    $("#lot2").removeClass("disabled");
                    $("#lot3").removeClass("disabled");
                    $("#lot4").removeClass("disabled");
                    $("#lot5").removeClass("disabled");

                    $('[data-remodal-id=vote-end]').remodal().open();
                }
            });

            request.fail(function( jqXHR, msg ) {
                if(jqXHR.status == 404){
                    $('[data-remodal-id=vote-user]').remodal().open();
                }else if (jqXHR.status == 500){
                    $("#title").text("Vous devez attendre pour voter !");
                    $('[data-remodal-id=info-modal]').remodal().open();
                }else if (jqXHR.status == 405){
                    $("#title").text("Vote invalide !");
                    $('[data-remodal-id=info-modal]').remodal().open();
                }
            });
        }

        function loterie(tye){
            var request = $.ajax({
                url: "/vote/loterie/" + tye,
                method: "POST",
                data: {pseudo : pseudo},
                dataType: "html",
                success: function (data) {
                    $("#title").text("Vous avez gagner " + data +" !");
                    $('[data-remodal-id=info-modal]').remodal().open();
                }
            });
        }



    </script>
{% endblock %}

