{% extends 'default.twig' %}
{% set active_page = "voter" %}
{% set title = 'Voter'|trans %}
{% set sub_title = ''|trans~user.username %}
{% set description = "Vote gratuitement pour le serveur BadBlock et gagne de nombreuses récompenses gratuitement. Cette action est très rapide." %}
{% set show_title = false %}
{% block cover %}
    <section>
        <div class="cover-back">
            <div class="cover cover-profile">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h3>Serveur minecraft gratuit</h3>
                            <a href="/launcher-minecraft" class="button button-success"><i
                                        class="fas fa-cloud-download-alt"></i> Télécharger le launcher</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block skyscrapers %}
    <div class="pub-skyscraper-left">
        <ins class="adsbygoogle" style="width:300px;height:600px" data-ad-client="ca-pub-1905923613312160"
             data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="pub-skyscraper-right">
        <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px"
             data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}
{% block content %}
    <div id="err-alert" class="alert alert-danger" role="alert" style="display: none">

    </div>
    <div id="success-alert" class="alert alert-success" role="alert" style="display: none">

    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div id="step1" class="step-content">
                <h3 class="step-round">I</h3>
                <div class="step-content-main">
                    <h5 class="text-center">Entrez votre pseudo</h5>
                    <input class="info-ip" type="text" id="pseudo" name="pseudo" value="{{ player }}"
                           style="cursor: initial; pointer-events: initial;">

                    <a class="button button-info" onclick="start()" title="Valider le vote"
                       style="width: 95%;">Valider</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div id="step2" class="step-content disabled">
                <h3 class="step-round">II</h3>
                <div class="step-content-main">
                    <h5 class="text-center">Choisissez un Site</h5>
                    <a title="Voter pour badblock" class="button button-primary" id="btm-msf" href="/vote/redirect"
                       target="_blank" style="width: 95%;">Serveur MultiGames (1H30)</a>
                    <div id="pleasewait" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="step-content">
                <h3 class="step-round">III</h3>
                <div class="step-content-main">
                    <h5 class="text-center">Obtenez votre récompense</h5>
                    <button class="button button-primary disabled" id="lot2" onclick="award('6')" href=""
                            style="width: 95%;">
                        SkyBlock
                    </button>
                    <button class="button button-primary disabled" id="lot3" onclick="award('3')" href=""
                            style="width: 95%;">
                        Mini-Jeux
                    </button>
                    <button class="button button-primary disabled" id="lot7" onclick="award('7')" href=""
                            style="width: 95%;">
                        Survie
                    </button>
                    <button class="button button-primary disabled" id="lot4" onclick="award('4')" href=""
                            style="width: 95%;">
                        Faction
                    </button>
                </div>
            </div>
        </div>
        <a id="blouks" title="Liste des serveur minecraft" class="button button-primary" id="btm-msf"
           href="https://serveur-multigames.net/minecraft/badblock" target="_blank" style="width: 95%;">Serveur
            Minecraft BadBlock</a>
        <div class="col-12">
            <div class="table-scroll-table-vote">
                <table class="table table-vote">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Joueur</th>
                        <th scope="col">Récompense</th>
                        <th scope="col">Votes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if count(top) > 0 %}
                        {% for k,data in top %}
                            <tr class="votes-{{ k + 1 }}">
                                <td><span>{{ k + 1 }}</span></td>
                                <td class="img"><a href="/profile/{{ data['name'] }}"
                                                   title="Profil de {{ data['name'] }}"><img
                                                src="https://cdn.badblock.fr/head/{{ data['name'] }}/32.png"
                                                class="align-middle" title="Tête de {{ data['name'] }}"
                                                alt="Tête de {{ data['name'] }}"/> <span
                                                class="align-middle"> &nbsp;{{ data['name'] }}</span></a></td>
                                {% if k == 0 %}
                                    <td>3000 points boutique</td>
                                {% elseif k == 1 %}
                                    <td>2250 points boutique</td>
                                {% elseif k < 3 %}
                                    <td>2000 points boutique</td>
                                {% elseif k < 6 %}
                                    <td>1500 points boutique</td>
                                {% elseif k < 10 %}
                                    <td>750 points boutique</td>
                                {% elseif k < 20 %}
                                    <td>625 points boutique</td>
                                {% elseif k < 30 %}
                                    <td>250 points boutique</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ data['vote']|number_format(0, '', ' ') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script async>

        window.onload = function () {
            setTimeout(function () {
                document.getElementById("blouks").style.display = 'none';
            }, 500);
        };

        var type;
        var pseudo;
        var error = false;

        function start() {

            if ($('#pseudo').val() == "" || $('#pseudo').val() == null) {
            } else {
                pseudo = $('#pseudo').val();
                var request = $.ajax({
                    url: "/vote/playerexists",
                    method: "POST",
                    data: {pseudo: pseudo},
                    dataType: "html",
                    success: function (data) {
                        $("#step1").addClass("disabled");
                        $("#step2").removeClass("disabled");
                        $("#lot1").removeClass("disabled");
                        $("#lot2").removeClass("disabled");
                        $("#lot3").removeClass("disabled");
                        $("#lot4").removeClass("disabled");
                        $("#lot5").removeClass("disabled");
                        $("#lot6").removeClass("disabled");
                        $("#lot7").removeClass("disabled");
                        $("#lot8").removeClass("disabled");
                        $("#pleasewait").hide();
                    }
                });

                request.fail(function (jqXHR, msg) {
                    if (jqXHR.status == 404) {
                        $("#success-alert").hide();
                        $("#err-alert").html("<i class=\"fas fa-exclamation-circle\"></i> As-tu marqué correctement le pseudo ? Il n'existe pas sur le site. Tu peux te créer un compte <a title='Inscription' target='_blank' href='https://badblock.fr/forum/inscription/'>ici</a>.");
                        $("#err-alert").show();
                        $("#pleasewait").hide();
                    } else if (jqXHR.status == 405) {
                        $("#step1").addClass("disabled");
                        $("#step2").removeClass("disabled");
                        $("#lot1").removeClass("disabled");
                        $("#lot2").removeClass("disabled");
                        $("#lot3").removeClass("disabled");
                        $("#lot4").removeClass("disabled");
                        $("#lot5").removeClass("disabled");
                        $("#lot6").removeClass("disabled");
                        $("#lot7").removeClass("disabled");
                        $("#lot8").removeClass("disabled");
                        $("#pleasewait").html(jqXHR.responseText);
                        $("#pleasewait").show();
                    }
                });
            }
        }

        function vote(wb) {
            $("#lot1").removeClass("disabled");
            $("#lot2").removeClass("disabled");
            $("#lot3").removeClass("disabled");
            $("#lot4").removeClass("disabled");
            $("#lot5").removeClass("disabled");
            $("#lot6").removeClass("disabled");
            $("#lot7").removeClass("disabled");
            $("#lot8").removeClass("disabled");
            window.open(wb, '_blank');
            $("#step2").addClass("disabled");
            setTimeout(function () {
                $("#pleasewait").hide();
            }, 5000);
        }

        function award(type) {
            $("#lot1").addClass("disabled");
            $("#lot2").addClass("disabled");
            $("#lot3").addClass("disabled");
            $("#lot4").addClass("disabled");
            $("#lot5").addClass("disabled");
            $("#lot6").addClass("disabled");
            $("#lot7").addClass("disabled");
            $("#lot8").addClass("disabled");

            var request = $.ajax({
                url: "/vote/award",
                method: "POST",
                data: {
                    pseudo: pseudo,
                    type: type
                },
                dataType: "html",
                success: function (data) {
                    $("#pleasewait").hide();

                    $("#err-alert").hide();
                    $("#success-alert").html("<i class=\"fas fa-check-circle\"></i> " + data);
                    $("#success-alert").show();
                }
            });

            request.fail(function (jqXHR, msg) {
                if (jqXHR.status == 404) {
                    $("#success-alert").hide();
                    $("#err-alert").html("<i class=\"fas fa-exclamation-circle\"></i> As-tu marqué correctement le pseudo ? Il n'existe pas sur le site. Tu peux te créer un compte <a title='Inscription' target='_blank' href='https://badblock.fr/forum/inscription/'>ici</a>.");
                    $("#err-alert").show();
                    $("#pleasewait").hide();
                } else if (jqXHR.status == 405) {
                    $("#success-alert").hide();
                    $("#err-alert").html(jqXHR.responseText);
                    $("#err-alert").show();
                    $("#pleasewait").hide();
                } else if (jqXHR.status == 500) {
                    $("#success-alert").hide();
                    $("#err-alert").html("<i class=\"fas fa-exclamation-circle\"></i> Une erreur est survenue lors du vote. Ouvre un ticket sur le Forum.");
                    $("#err-alert").show();
                    $("#pleasewait").hide();
                }
            });
        }

    </script>
{% endblock %}
