{% extends 'default.twig' %}
{% set active_page = "voter" %}
{% set title = 'Voter'|trans %}
{% set sub_title = ''|trans~user.username %}
{% set show_title = false %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column">
                    <h4 class="cover-heading">Voter pour soutenir le serveur !</h4>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block skyscrapers %}

    <div class="pub-skyscraper-left">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <ins class="adsbygoogle" style="width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="pub-skyscraper-right">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}
{% block content %}
    <section>
        <div class="vote">
            <div id="pub-large">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
    <div class="nothing">
        <div id="step1" class="step step-two four columns">
            <center><h3 class="step-round">I</h3>
            <div class="step-contains">
                <h5 class="text-center">Entrez votre pseudo</h5>
                    <input type="text" id="pseudo" name="pseudo" value="{{ player }}"><br>
                    <a class="button button-primary" onclick="start()" style="width: 95%;">Valider</a>
            </div>
            </center>
        </div>
        <div id="step2" class="step step-first four columns disabled">
            <center><h3 class="step-round">II</h3>
                <div class="step-contains">
                    <h5 class="text-center">Choisissez un Site</h5>
                    <a class="button button-primary" id="btm-msf" onclick="vote('https://serveur-prive.net/minecraft/badblock-198/vote')" style="width: 95%;">Serveur-Prive.net (1H30)</a>
                </div>
            </center>
        </div>
        <div class="step step-three four columns">
            <center><h3 class="step-round">III</h3>
            <div class="step-contains">
                <h5 class="text-center">Obtenez votre récompense</h5>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot1" onclick="award('1')" href="" style="width: 95%;">
                        Points Boutique
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot2" onclick="award('2')" href="" style="width: 95%;">
                        SkyBlock
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot3" onclick="award('3')" href="" style="width: 95%;">
                        Mini-jeux
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot4" onclick="award('4')" href="" style="width: 95%;">
                        Faction
                    </button>
                </div>
                <div class="tooltip">
                    <button class="button button-primary disabled" id="lot5" onclick="award('5')" href="" style="width: 95%;">
                        PvpBox
                    </button>
                </div>
            </div>
            </center>
        </div>
        <div id="pub-large">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <h3 class="text-center">Les meilleurs votants !</h3>
        <p class="text-center">Retrouvez chaque mois le classement des meilleurs votants de BadBlock !</p>
        <div class="vote-tr">
            <table class="votes">
                <thead>
                    <tr>
                        <td>Rang</td>
                        <td>Joueur</td>
                        <td>Récompense</td>
                        <td>Votes</td>
                    </tr>
                </thead>
                <tbody>
                {% if count(top) > 0 %}
                    {% for k,data in top %}
                        <tr class="votes-{{ k + 1 }}">
                            <td><span>{{ k + 1 }}</span></td>
                            <td class="img"><img src="https://guiria.badblock.fr/head/{{ data['name'] }}/16.png" class="align-middle"/> <span class="align-middle"> &nbsp;{{ data['name'] }}</span></td>
                            {% if k < 3 %}
                                <td>15€</td>
                            {% elseif k < 10 %}
                                <td>8.50€</td>
                            {% elseif k < 20 %}
                                <td>5€</td>
                            {% elseif k < 30 %}
                                <td>2.50€</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ data['vote'] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
        </div>
    </div>
</div>

    </section>
    <!-- Reg Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-user">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vous devez vous enregistrer sur le Forum de BadBlock pour voter !</h1>
        <a class="button button-danger" href="https://forum.badblock.fr/inscription/"><i class="icon-repeat"></i>S'inscrire !</a>
    </div>
    <!-- Reg modal -->
    <!-- Time Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-time">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Vous devez attendre pour voter !</h1>
        <a class="button button-danger" data-remodal-action="close"><i class="icon-repeat"></i>Retour</a>
    </div>
    <!-- Time modal -->

    <!-- End Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-end">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Merci de votre soutiens !</h1>
        <a class="button button-danger" href="#"><i class="icon-repeat"></i>Fermer</a>
    </div>
    <!-- End modal -->


    <!-- Info Modal -->
    <div class="remodal modal-remodal" data-remodal-id="info-modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="title"></h1>
        <a class="button button-danger" href="#"><i class="icon-closetab"></i>Fermer</a>
    </div>
    <!-- Info modal -->


    <script>
        var type;
        var pseudo;
        var error = false;

        function start() {
            if($('#pseudo').val() == "" || $('#pseudo').val() == null) {
            }else{
                pseudo = $('#pseudo').val();
                var request = $.ajax({
                    url: "/vote/playerexists",
                    method: "POST",
                    data: {pseudo : pseudo},
                    dataType: "html",
                    success: function (data) {
                        $("#step1").addClass("disabled");
                        $("#step2").removeClass("disabled");
                    }
                });

                request.fail(function( jqXHR, msg ) {
                    if(jqXHR.status == 404)
                    {
                        $('[data-remodal-id=vote-user]').remodal().open();
                        $("#step1").removeClass("disabled");
                        $("#step2").addClass("disabled");
                        $("#step3").addClass("disabled");
                    }
                });
            }
        }

        function vote(wb)
        {
            window.open(wb, '_blank');
            $("#step2").addClass("disabled");
            setTimeout(function () {
                $("#lot1").removeClass("disabled");
                $("#lot2").removeClass("disabled");
                $("#lot3").removeClass("disabled");
                $("#lot4").removeClass("disabled");
                $("#lot5").removeClass("disabled");
            }, 5000);
        }

        function award(type) {
            //requet if user have vote
            var request = $.ajax({
                url: "/vote/award",
                method: "POST",
                data: {
                    pseudo : pseudo,
                    type : type
                },
                dataType: "html",
                success: function (data) {
                    $("#lot1").addClass("disabled");
                    $("#lot2").addClass("disabled");
                    $("#lot3").addClass("disabled");
                    $("#lot4").addClass("disabled");
                    $("#lot5").addClass("disabled");

                    $("#title").text(data);
                    $('[data-remodal-id=info-modal]').remodal().open();
                }
            });

            request.fail(function( jqXHR, msg ) {
                if(jqXHR.status == 404){
                    $('[data-remodal-id=vote-user]').remodal().open();
                }else if (jqXHR.status == 405){
                    $("#title").text("Vous n'avez pas voté.");
                    $('[data-remodal-id=info-modal]').remodal().open();
                }
            });
        }

    </script>
{% endblock %}

