{% extends 'default.twig' %}
{% set active_page = "voter" %}
{% set title = 'Voter'|trans %}
{% set sub_title = ''|trans~user.username %}
{% set description = "Vote gratuitement pour le serveur BadBlock et gagne de nombreuses récompenses gratuitement. Cette action est très rapide." %}
{% set show_title = false %}
{% block meta %}

{% endblock %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column">
                    <h4 class="cover-heading">Votez pour soutenir le serveur !</h4>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block skyscrapers %}

    <div class="pub-skyscraper-left">
        <ins class="adsbygoogle" style="width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="pub-skyscraper-right">
        <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}
{% block content %}
    <section>
        <div class="vote">
            <div class="pub-large">
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
    <div class="nothing">
        <div class="alert alert-primary" role="alert">
            Les probabilités de gagner l'Accès à l'HyperFarm du Nouveau SkyBlock sont doublés en votant, en ce début de mois. Profite-en dès maintenant en votant et en ouvrant ta clé au coffre du nouveau SkyBlock !
        </div>
        Sélectionne le Site de Vote. Tu peux voter une fois toutes les 1h et demi sur chacun des deux sites. Vote sur le premier site, récupère ta récompense en jeu, vote sur le deuxième site, et récupère une deuxième récompense en jeu.
        <br /><br />
        <h5 style="text-align: center;">
             <div>
                 <a title="Serveur Minecraft" href="https://serveur-minecraft.net/minecraft/badblock" target="_blank">
                     <button class="button button-success" id="minecraft-download-windows">
                         <i class="fas fa-award"></i> Voter pour le serveur Minecraft
                     </button>
                 </a>
            </div>
        </h5>

        <div class="pub-large">
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <h3 class="text-center">Les meilleurs votants</h3>
        <p class="text-center">Retrouvez chaque mois le classement des meilleurs votants de BadBlock !</p>
        <div class="vote-tr">
            <table class="votes">
                <thead>
                    <tr>
                        <td>Rang</td>
                        <td>Joueur</td>
                        <td>Récompense</td>
                        <td>Votes</td>
                    </tr>
                </thead>
                <tbody>
                {% if count(top) > 0 %}
                    {% for k,data in top %}
                        <tr class="votes-{{ k + 1 }}">
                            <td><span>{{ k + 1 }}</span></td>
                            <td class="img"><a href="/profile/{{ data['name'] }}" title="Profil de {{ data['name'] }}"><img src="https://cdn.badblock.fr/head/{{ data['name'] }}/16.png" class="align-middle" title="Tête de {{ data['name'] }}" alt="Tête de {{ data['name'] }}" /> <span class="align-middle"> &nbsp;{{ data['name'] }}</span></a></td>
                            {% if k < 3 %}
                                <td>15€</td>
                            {% elseif k < 10 %}
                                <td>8.50€</td>
                            {% elseif k < 20 %}
                                <td>5€</td>
                            {% elseif k < 30 %}
                                <td>2.50€</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ data['vote']|number_format(0, '', ' ') }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
        </div>
    </div>
</div>

    </section>

    <!-- AdBlock Modal -->
    <div class="remodal modal-remodal" data-remodal-id="blc">
        <h1 id="time-title">Veuillez désactiver votre bloqueur de publicités sur BadBlock pour pouvoir voter.</h1>
        <a class="button button-danger" href="" title="Rafraichir la page"><i class="icon-repeat"></i> J'ai enlevé mon bloqueur</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <!-- <script async>
        $(document).ready(function () {

            if (window.canRunAds === undefined) {
                $('[data-remodal-id=blc]').remodal().open();
                return;
            }

            var seconds = 10;

            window.setInterval(function(){

                seconds = seconds - 1;
                if (seconds < 0) {
                    window.location = "https://ipv6.serveur-prive.net/minecraft/badblock-nouveau-skyblock--198/vote";
                } else {
                    document.getElementById("countdown").innerHTML = seconds;
                }
            }, 1000);
        });

    </script>!-->
    <meta http-equiv="refresh" content="15; URL=https://badblock.fr/badblock">
{% endblock %}

