{% extends 'default.twig' %}
{% set active_page = "voter" %}
{% set title = 'Voter'|trans %}
{% set sub_title = ''|trans~user.username %}
{% set description = "Vote gratuitement pour le serveur BadBlock et gagne de nombreuses récompenses gratuitement. Cette action prend quelques secondes." %}
{% set show_title = false %}
{% block meta %}

{% endblock %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column">
                    <h4 class="cover-heading">Votez pour soutenir le serveur !</h4>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block skyscrapers %}

    <div class="pub-skyscraper-left">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <ins class="adsbygoogle" style="width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="pub-skyscraper-right">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}
{% block content %}
    <section>
        <div class="vote">
            <div id="pub-large">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
    <div class="nothing">
        <h5 style="text-align: center;">Tu vas être redirigé sur la page pour voter dans <span id="countdown">16</span> secondes.<br />Une fois redirigé, remplis le captcha et clique sur Voter.
            <br /><img src="/dist/images/loading.gif" title="Chargement du vote BadBlock" alt="Chargement du vote BadBlock" width="128" height="128" />
        </h5>

        <div id="pub-large">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <h3 class="text-center">Les meilleurs votants</h3>
        <p class="text-center">Retrouvez chaque mois le classement des meilleurs votants de BadBlock !</p>
        <div class="vote-tr">
            <table class="votes">
                <thead>
                    <tr>
                        <td>Rang</td>
                        <td>Joueur</td>
                        <td>Récompense</td>
                        <td>Votes</td>
                    </tr>
                </thead>
                <tbody>
                {% if count(top) > 0 %}
                    {% for k,data in top %}
                        <tr class="votes-{{ k + 1 }}">
                            <td><span>{{ k + 1 }}</span></td>
                            <td class="img"><a href="/profile/{{ data['name'] }}" title="Profil de {{ data['name'] }}"><img src="https://cdn.badblock.fr/head/{{ data['name'] }}/16.png" class="align-middle" title="Tête de {{ data['name'] }}" alt="Tête de {{ data['name'] }}" /> <span class="align-middle"> &nbsp;{{ data['name'] }}</span></a></td>
                            {% if k < 3 %}
                                <td>15€</td>
                            {% elseif k < 10 %}
                                <td>8.50€</td>
                            {% elseif k < 20 %}
                                <td>5€</td>
                            {% elseif k < 30 %}
                                <td>2.50€</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ data['vote']|number_format(0, '', ' ') }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
        </table>
        </div>
    </div>
</div>

    </section>
    <!-- Reg Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-user">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vous devez vous enregistrer sur le Forum de BadBlock pour voter !</h1>
        <a class="button button-danger" href="https://forum.badblock.fr/inscription/" title="S'inscrire"><i class="icon-repeat"></i>S'inscrire !</a>
    </div>
    <!-- Reg modal -->
    <!-- Time Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-time">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Vous devez attendre pour voter !</h1>
        <a class="button button-danger" data-remodal-action="close" title="Retour"><i class="icon-repeat"></i>Retour</a>
    </div>
    <!-- Time modal -->

    <!-- End Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-end">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Merci de votre soutiens !</h1>
        <a class="button button-danger" href="#" title="Fermer"><i class="icon-repeat"></i>Fermer</a>
    </div>
    <!-- End modal -->


    <!-- Info Modal -->
    <div class="remodal modal-remodal" data-remodal-id="info-modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="title"></h1>
        <a class="button button-danger" href="#" title="Fermer"><i class="icon-closetab"></i>Fermer</a>
    </div>
    <!-- Info modal -->

    <script type="text/javascript">

        var seconds = 16;

        function countdown() {
            seconds = seconds - 1;
            if (seconds < 0) {
                window.location = "https://serveur-minecraft.net/vote/93";
            } else {
                document.getElementById("countdown").innerHTML = seconds;
                window.setTimeout("countdown()", 1000);
            }
        }

        countdown();

    </script>

    <script>
        var type;
        var pseudo;
        var error = false;

        function start() {
            if($('#pseudo').val() == "" || $('#pseudo').val() == null) {
            }else{
                pseudo = $('#pseudo').val();
                var request = $.ajax({
                    url: "/vote/playerexists",
                    method: "POST",
                    data: {pseudo : pseudo},
                    dataType: "html",
                    success: function (data) {
                        $("#step1").addClass("disabled");
                        $("#step2").removeClass("disabled");
                    }
                });

                request.fail(function( jqXHR, msg ) {
                    if(jqXHR.status == 404)
                    {
                        $('[data-remodal-id=vote-user]').remodal().open();
                        $("#step1").removeClass("disabled");
                        $("#step2").addClass("disabled");
                        $("#step3").addClass("disabled");
                    }
                });
            }
        }

        function vote(wb)
        {
            window.open(wb, '_blank');
            $("#step2").addClass("disabled");
            setTimeout(function () {
                $("#lot1").removeClass("disabled");
                $("#lot2").removeClass("disabled");
                $("#lot3").removeClass("disabled");
                $("#lot4").removeClass("disabled");
                $("#lot5").removeClass("disabled");
            }, 5000);
        }

        function award(type) {
            //requet if user have vote
            var request = $.ajax({
                url: "/vote/award",
                method: "POST",
                data: {
                    pseudo : pseudo,
                    type : type
                },
                dataType: "html",
                success: function (data) {
                    $("#lot1").addClass("disabled");
                    $("#lot2").addClass("disabled");
                    $("#lot3").addClass("disabled");
                    $("#lot4").addClass("disabled");
                    $("#lot5").addClass("disabled");

                    $("#title").text(data);
                    $('[data-remodal-id=info-modal]').remodal().open();
                }
            });

            request.fail(function( jqXHR, msg ) {
                if(jqXHR.status == 404){
                    $('[data-remodal-id=vote-user]').remodal().open();
                }else if (jqXHR.status == 405){
                    $("#title").text("Vous n'avez pas voté.");
                    $('[data-remodal-id=info-modal]').remodal().open();
                }else if (jqXHR.status == 500){
                    $("#title").text("Une erreur est survenue lors du vote.");
                    $('[data-remodal-id=info-modal]').remodal().open();
                }
            });
        }

    </script>
{% endblock %}

