{% for comment in comments %}
    <div class="comments-item">
        <div class="comments-author-avatar">
            <img src="https://cdn.badblock.fr/head/{{ comment.username }}/64.png" alt="Tête de {{ comment.username }}" title="Tête de {{ comment.username }}">
        </div>
        <div class="comments-content">
            <div class="comments-title">
                <span class="comments-author-username">{{ comment.username }}</span>
                <span class="comments-info">{{ timeago(timestampToTime(comment.post_date)) }}</span>
            </div>
            <div class="comments-text">
                {{ comment.message }}
            </div>
        </div>
    </div>
{% endfor %}