{% extends "default.twig" %}
{% set title = post.title %}
{% set subtitle = post.summary %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back" style="background-image: url({{ post.cover_url }})">
        <div class="cover cover-profile">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <h2 class="cover-heading">{{ post.title }}</h2>
                </div>
            </div>
            <div class="profile-info">
                <div class="container">
                    <ul>
                        <li><i class="icon icon-calendarthree"></i> {{ timeago(post.created_at) }}</li>
                        <li><i class="icon icon-user"></i><span>Écrit par </span> {{ post.author.name }}</li>
                        <li><i class="fa fa-eye"></i><span> Lecture(s) </span> {{ post.view }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}
    <div class="article-content">
        {{ post.content|raw }}
    </div>
    {% if post.enable_comments == true %}
        {% if flash('errors') is not empty %}
            <div class="c-alert c-alert--error">
                <button class="c-button c-button--close">&times;</button>
                {% for msg in flash('errors') %}
                    {{ msg }}<br>
                {% endfor %}
            </div>
        {% endif %}
        {% if flash('success') is not empty %}
            <div class="c-alert c-alert--success">
                <button class="c-button c-button--close">&times;</button>
                {% for msg in flash('success') %}
                    {{ msg }}<br>
                {% endfor %}
            </div>
        {% endif %}
        <div class="comments-area">
            <h4 class="heading heading-bar"><span>{{ count(post.comments) }} commentaires</span></h4>

            <div class="comments-container">
                {% if user is defined %}
                    <form class="comments-form" action="{{ path_for('post-comment', {uuid: post.uuid, slug: post.slug}) }}" method="post">
                        <div class="comments-item">
                            <div class="comments-author-avatar">
                                <img src="https://cdn.badblock.fr/head/{{ user.username }}/64.png" title="Tête de {{ user.username }}" alt="Tête de {{ user.username }}">
                            </div>
                            <div class="comments-content">
                                <div class="comments-title">
                                    <span class="comments-author-username">Ecrivez un commentaire</span>
                                </div>
                                <div class="comments-text">
                                    <textarea name="content"></textarea>
                                    <button type="submit" class="button button-primary">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
                {% if user is not defined %}
                    <p>Vous devez être connecté pour poster un commentaire</p>
                {% endif %}

                {% if post.comments is empty %}
                    <div class="no-item-container">
                        <div class="no-item-content">
                            <h4 class="flex-center"><i class="icon-erroralt"></i></h4>
                            <h4>{{ 'blog.comments_empty'|trans }}</h4>
                        </div>
                    </div>
                {% endif %}

                {% if post.comments is not empty %}
                    <div id="comments-loading" style="display: flex; justify-content: center; align-items: center">
                        <img src="https://cdn.badblock.fr/images/990A0BDEEF8A6D04195B.gif" width="100" alt="Chargement des commentaires" title="Chargement des commentaires">
                    </div>
                    <div id="comments">

                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if post.enable_comments == false %}
        <div class="no-item-container">
            <div class="no-item-content">
                <h4 class="flex-center"><i class="icon-erroralt"></i></h4>
                <h4>{{ 'blog.comments_disable'|trans }}</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
<script type="application/javascript">
    $.ajax({url: "/api/post/comments/{{ post.uuid }}", success: function(result){
        $("#comments").html(result);
        $('#comments-loading').fadeOut();
    }});
</script>
{% endblock %}