{% spaceless %}

<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta name="charset" content="utf-8">

    <title>
        {% if hide_title is not defined %}BadBlock | {% endif %}{{ title }}
    </title>

    <link rel="icon" type="image/png" href="/dist/images/favicon-32x32.png" />
    <meta name="google-site-verification" content="oJ7Q1qwlvr9LlHl-a-d0F4gOuC6wd40R-MDzYcQCtqo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="follow, index, all" />
    <meta name="description" content="{% if description is defined %}{{ description }}{% else %}Serveur Minecraft gratuit accès Premium et Crack. Télécharge le jeu gratuitement. Rejoins nous.{% endif %}" />
    <meta name="author" content="BadBlock developers" />
    <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}, {%  endif %}badblock, serveur mini-jeux, serveur skyblock, skyblock minecraft, skyblock, spaceballs, minecraft mini-jeux, serveur faction, serveur freebuild, freecube, minecraft serveur, serveur minecraft, launcher minecraft, télécharger, download, launcher lifecraft, lifecraft launcher, minecraft lifecraft, launcher premium, launcher gratuit, minecraft, launcher minecraft, telecharger, installer, 1.8, 1.9, 1.10, 1.11, 1.7 launcher, minecraft, cracké, premium, non officiel, launcher gratuit, officiel, serveur, badblock, français, serveur français, launchers, badblock, loncher, executable, rush, tower, speeduhc, uhcspeed, uhc run, uhcrun, cts, capture the sheep, capture the flag, ctf, survivalgames, survival, hungergames, hg, survivalgame, spaceballs, cube of steels, cube of steel, spaceball, space ball, pearlswar, pearlswar, pvpbox, box, 1v1, dayz, infecté, faction, serveur minecraft, minecraft, skyblock, freebuild, launcher minecraft, minecraft, jouer, minecraft, gratuit, minecraft gratuit, minecraft crack, crack, meilleur launcher de france" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://cdn.badblock.fr/images/logo_small.png" />
    <meta name="twitter:url" content="https://badblock.fr/" />
    <meta name="twitter:site" content="@BadBlockGame">
    <meta name="twitter:creator" content="@BadBlockGame" />
    <meta name="twitter:title" content="{% if hide_title is not defined %}BadBlock | {% endif %}{{ title }}" />
    <meta name="twitter:description" content="{% if description is defined %}{{ description }}{% else %}Serveur Minecraft gratuit accès Premium et Crack. Télécharge le jeu gratuitement. Rejoins nous.{% endif %}" />
    <meta property="og:site_name" content="BadBlock - Serveur Minecraft Francophone (Launcher Gratuit)" />
    <meta property="og:locale" content="fr" />
    <meta property="og:url" content="https://cdn.badblock.fr/images/logo_small.png" />
    <meta property="og:description" content="{% if description is defined %}{{ description }}{% else %}Serveur Minecraft gratuit accès Premium et Crack. Télécharge le jeu gratuitement. Rejoins nous.{% endif %}" />
    <meta property="og:title" content="{% if hide_title is not defined %}BadBlock | {% endif %}{{ title }}" />
    <meta property="og:image" content="https://cdn.badblock.fr/images/logo_small.png" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#2d94cc" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon meta -->
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    {% if block("meta") is defined %}
        {{ block('meta') }}
    {% endif %}

    <link rel="stylesheet" href="/dist/css/app.css">
    <link rel="stylesheet" href="/dist/css/xmalware.css">
    <link rel="stylesheet" href="/dist/css/global.css">
    {% if block("style") is defined %}
        {{ block('style') }}
    {% endif %}
</head>
<body>


<!-- Header -->
<div class="header">
    <div class="container">
        <div class="header-container">
            <a class="header-logo-container no-link" href="{{ path_for('home') }}" title="Accueil BadBlock">
                <img src="https://cdn.badblock.fr/images/logo_small.png" title="Logo BadBlock" alt="Logo BadBlock" class="header-logo">
                <div class="">
                    <h3 class="header-title">BadBlock</h3>
                    <h5 class="header-sub-title">{{ mc_ip }}</h5>
                </div>
            </a>
            <div class="header-login-container">
                <div class="header-login">
                    {% if user is not defined %}
                        <!-- href="{{ forum_url }}/login"!-->
                        <a class="button button-primary" onclick="login()" title="Connexion"><i
                                    class="icon icon-lock"></i> {{ 'login.login'|trans }}</a>
                        <span class="margin"></span>
                        <a class="button button-primary" href="{{ forum_url }}/inscription/" title="Inscription"><i
                                    class="icon icon-pencil"></i> {{ 'login.register'|trans }}</a>
                    {% endif %}
                    {% if user is defined %}
                        <a class="button button-primary" href="{{ path_for('dashboard') }}" title="Tableau de bord"><i
                                    class="icon icon-user"></i> {{ 'user.dashboard_title'|trans }}</a>
                        <span class="margin"></span>
                        <a class="button button-danger" href="{{ path_for('logout') }}" title="Déconnexion"><i
                                    class="icon icon-enter"></i> {{ 'user.logout'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Header -->

<!------Menu------->
<div class="topnav" id="myTopnav">
    <div class="container" style="max-width: 65% !important; margin: 0 20%;">
        <a href="{{ path_for('home') }}"
           class="{% if active_page == 'home' %}actived{% endif %} home" title="Accueil">
            <i class="home-colored-icon colored-icon"></i>
            {{ 'home'|trans }}
        </a>
        {% if eula == true %}
            <a href="/shop"
               class="{% if active_page == 'shop' %}actived{% endif %}" title="Boutique">
                <i class="shopping_basket-colored-icon colored-icon"></i>
                Boutique
            </a>
        {% endif %}
        <a href="{{ path_for('stats.home') }}"
           class="{% if active_page == 'stats' %}actived{% endif %}" title="Statistiques">
            <i class="stats-colored-icon colored-icon"></i>
            {{ 'stats.title'|trans }}
        </a>
        <a href="{{ path_for('play-adwords') }}"
           class="{% if active_page == 'play' %}actived{% endif %}" title="Jouer">
            <i class="game-colored-icon colored-icon"></i>
            {{ 'play.title'|trans }}
        </a>
        <a href="{{ path_for('play') }}"
           class="{% if active_page == 'launcher' %}actived{% endif %}" title="Launcher Minecraft">
            <i class="user-colored-icon colored-icon"></i>
            {{ 'launcher.title'|trans }}
        </a>
        <a href="{{ path_for('vote.home') }}"
            class="{% if active_page == 'vote.home' %}actived{% endif %}" title="Voter">
            <i class="edit-colored-icon colored-icon"></i>
            Vote
        </a>
        <a href="{{ forum_url }}" title="Forum"><i class="forum-colored-icon colored-icon"></i>{{ 'forum.title'|trans }}</a>

        <a href="https://forum.badblock.fr/recrutement" title="Recrutements BadBlock" class="">
            <i class="list-colored-icon colored-icon"></i>
            Recrutements
        </a>

        <a href="javascript:void(0);" class="icon menu-button" onclick="menu()" title="Menu BadBlock"><i class="icon-menu"></i></a>
    </div>
</div>
<!-------page-navbar-user------->
{#{% if user is defined %}
<div class="nav-profil">
    <div class="container">
        <a href="#"><img src="https://cdn.badblock.fr/head/{{ user.name }}/18.png" title="Tête du skin"><span>{{user.name}}</span></a>
        <a href="#"><i class="icon icon-value-coins"></i> {{ user.shoppoints }} <span>Points Boutique</span></a>
        <a href="#"><i class="icon icon-paperboat"></i> {{ user.website.vote }} <span>Votes</span></a>

        <a href="{{ path_for('logout') }}" class="right"> {{ 'user.logout'|trans }}</a>
        <a href="{{ path_for('dashboard') }}" class="right">Paramètres</a>
    </div>
</div>
{% endif %}#}
<!-------page-navbar-user fin------->
<!------Menu fin ------->

<!-- COVER  -->
{% if block('cover') is defined %}
    {{ block('cover') }}
{% endif %}
<!-- END COVER -->

<!-- CONTENT -->

{% if block("skyscrapers") is defined %}
    {{ block('skyscrapers') }}
{% endif %}

<div class="container content">
    {{ block('content') }}
    <div id="pub-margin">

    </div>
    <div id="pub-large">
        <script async src="/pagead/js/adsbygoogle.js"></script>

        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
<!-- fin CONTENT -->

<!-- Statistiques -->
<div class="stats-back">
    <div class="stats">
        <div class="container">
            <div class="four columns">
                <i class="colored-icon game-colored-icon"></i>
                play.badblock.fr
            </div>
            <div class="four columns">
                <i class="colored-icon user-colored-icon"></i>
                <span id="players"></span>
            </div>
            <div class="four columns">
                <i class="colored-icon tchat-colored-icon"></i>
                ts.badblock.fr
            </div>
        </div>
    </div>
</div>
<!-- Fin Statistiques -->
<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="four columns">
            <div class="footer-title-container">
                <img src="https://cdn.badblock.fr/images/logo_small.png" title="Logo BadBlock" alt="Logo BadBlock" class="footer-logo">
                <h4 class="footer-title">BadBlock</h4><br><br>
            </div>
			    BadBlock n'est pas affilié avec Mojang AB et Microsoft Corporation. Mojang AB et Microsoft Corporation sont des marques déposées. <br />
            <a href="https://badblock.fr/legals/Mentions_legales.pdf" title="Mentions légales BadBlock"><font color="FFFFFF">Mentions légales</font></a>, <a href="https://badblock.fr/legals/" title="Documents légaux BadBlock"><font color="FFFFFF">Documents légaux</font></a>.
        </div>
        <div class="four columns">
            <div class="footer-links-title-container">
                <h5 class="footer-links-title">
                    <span>Liens</span>
                </h5>
            </div>
            <ul class="footer-links">
                <li><a href="https://forum.badblock.fr/règlement" title="Règlement BadBlock">Règlement</a></li>
                <li><a href="{{ path_for('staff') }}" title="Équipe de BadBlock">Notre Equipe</a></li>
                <li><a href="mailto:contact@badblock.fr" title="Contacter BadBlock">Nous contacter</a></li>
                <li><a href="/info" title="Informations BadBlock">Informations développement</a></li>
                <li><a href="/screenshot" title="Héberger une image BadBlock">Héberger une image</a></li>
                <li><a href="https://status.badblock.fr" title="Status de BadBlock">Status des services</a></li>
            </ul>
        </div>
        <div class="four columns">
            <div class="footer-links-title-container">
                <h5 class="footer-links-title">
                    <span>Réseaux sociaux</span>
                </h5>
            </div>
            <ul class="footer-links footer-social-links">
                <li><a href="https://twitter.com/BadBlockGame" title="Twitter BadBlock" rel="nofollow"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/BadBlockGame" title="Facebook BadBlock" rel="nofollow"><i class="icon-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCQGBfKWLa88_pQVHdCJbuIw" title="YouTube BadBlock" rel="nofollow"><i class="icon-youtube"></i></a></li>
                <li><a href="https://badblock.fr/discord" title="Discord BadBlock"><img src="//cdn.badblock.fr/images/discord.png" title="Discord BadBlock" alt="BadBlock" width="31" style="margin-top: 3px"></a></li>
            </ul>
            <ins class="adsbygoogle" style="display:inline-block;width:300px;height:280px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="4710723291"></ins>
            <script async defer>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
</div>

<div class="remodal modal-remodal" data-remodal-id="login">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Connexion</h2>
    <br />
    <form action="https://forum.badblock.fr/connexion/login" id="choix-pseudo" name="choix-pseudo" class="recharge-step-1" method="post">
        <table style="width: 100%;">
            <tr>
                <td>
                    <label for="playerName" style="margin-top: -10px;">
                        Pseudonyme :
                    </label>
                </td>
                <td>
                    <input type="text" name="login" class="form-pseudo" value="" />
                </td>
            </tr>
            <tr style="width: 100%;">
                <td>
                    <label for="password" style="margin-top: -10px;">
                        Mot de passe :
                    </label>
                </td>
                <td style="width: 80%;">
                    <input type="password" name="password" class="form-pseudo" value="" />
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <label class="check-recharge">
                        <input type="checkbox" name="remember">
                        <span class="label-body article-checkbox">Se souvenir de moi</span>
                    </label>
                </td>
            </tr>
            <tr style="width: 100%;">
                <td style="width: 50%;">
                    <a href="https://forum.badblock.fr/lost-password" class="button button-danger" style="width: 100%;" title="Mot de passe oublié sur BadBlock">
                        Mot de passe oublié ?
                    </a>
                </td>
                <td style="width: 50%;">
                    <button class="button button-success" style="width: 100%;">Se connecter</button>
                </td>
            </tr>
        </table>
        <a href="https://forum.badblock.fr/inscription/" class="button button-primary" style="width: 100%;" title="S'inscrire sur BadBlock">
            Pas encore inscrit ? S'inscrire !
        </a>
        <input type="hidden" name="cookie_check" value="1" />
        <input type="hidden" name="_xfToken" value="" />
        <input type="hidden" name="redirect" value="https://forum.badblock.fr/redirect.php?redirect={{ currentUrl }}" />
    </form>
</div>

<script async defer>

    function login() {
        $('[data-remodal-id=login]').remodal().open();
    }

</script>

<!-- Fin footer -->

<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "AggregateRating",
    "itemReviewed": {
        "@type": "GameServer",
        "name": "BadBlock",
        "description": "Serveur Minecraft gratuit accès Premium et Crack. Télécharge le jeu gratuitement. Rejoins nous.",
        "playersOnline": "",
        "url": "https://badblock.fr/launcher-minecraft"
    },
    "ratingValue": "5",
    "ratingCount": "{{ voteCount }}"
}
</script>

<!-- JS -->
<!-- Var js -->
<script async defer>
    var endpoint = "{{ base_url() }}"
    var mcHost = "eu.badblock.fr"
    var trans = {
        'noPlayers': "{{ 'no_player'|trans }}",
        'onePlayer': "{{ 'one_player'|trans }}",
        'manyPlayers': "{{ 'many_players'|trans }}"
    }
</script>
<script src="/dist/js/app.min.js"></script>

<script src="/dist/js/ads.js" data-pagespeed-no-defer pagespeed_no_defer></script>
{% if block("scripts") is defined %}
    {{ block('scripts') }}
{% endif %}

<script async defer>
    $(".dropdown-link").on('mouseover', function () {
        $(".dropdown-dropdown").show()
        $(".dropdown-dropdown").css('display', 'flex')
    });
    $("body").on('mouseover', function () {
        if ($('.dropdown-dropdown').is(':hover') === false && $('.dropdown-link').is(':hover') === false) {
            $(".dropdown-dropdown").fadeOut()
        }
    });
</script>
  <!--  <script>
        $( document ).ready(function() {
            setTimeout(function () {
                var vidDefer = document.getElementsByTagName('iframe');
                for (var i=0; i<vidDefer.length; i++) {
                    if(vidDefer[i].getAttribute('data-src')) {
                        vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
                    }
                }
                var script = document.createElement('script');
                script.onload = function () {
                    //do stuff with the script
                };
                script.src = "/dist/js/syndication.js";

                document.head.appendChild(script);
            }, 2000);
        });
    </script> !-->
    <script async defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

</body>
</html>
{% endspaceless %}
