<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if block("meta") is defined %}
        {{ block('meta') }}
    {% endif %}

    <title>BadBlock | {{ title }} </title>

    <link rel="stylesheet" href="/dist/css/app.css">
    {% if block("style") is defined %}
        {{ block('style') }}
    {% endif %}
</head>
<body>
<!-- Header -->
<div class="header">
    <div class="container">
        <div class="header-container">
            <a class="header-logo-container no-link" href="{{ path_for('home') }}">
                <img src="https://static.badblock.fr/images/logo_small.png" class="header-logo">
                <div class="">
                    <h3 class="header-title">BadBlock</h3>
                    <h5 class="header-sub-title">play.badblock.fr</h5>
                </div>
            </a>
            <div class="header-login-container">
                <div class="header-login">
                    <a class="button button-primary" href="#login-modal"><i class="icon icon-lock"></i> Login</a>
                    <a class="button button-primary" href="#"><i class="icon icon-pencil"></i> Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Header -->

<!------Menu------->
<div class="topnav" id="myTopnav">
    <div class="container">
        <a href="{{ path_for('home') }}" class="actived home"><i class="home-colored-icon colored-icon"></i> Accueil</a>
        <a href="#"><i class="shopping_basket-colored-icon colored-icon"></i> Boutique</a>
        <a href="#"><i class="stats-colored-icon colored-icon"></i> Statistiques</a>
        <a href="#"><i class="game-colored-icon colored-icon"></i> Jouer</a>
        <a href="#"><i class="edit-colored-icon colored-icon"></i> Voter</a>
        <a href="{{ forum_url }}"><i class="forum-colored-icon colored-icon"></i> Forum</a>
        <a href="javascript:void(0);" class="icon menu-button" onclick="menu()"><i class="icon-menu"></i></a>
    </div>
</div>
<!------Menu fin ------->

<!-------page-title------->
{% if home != true %}
    <section id="pagetitle-container">
        <div class="container">
            <div class="twelve column">
                <h1>{{ title }}</h1>
                <h3>{{ subtitle }}</h3>
            </div>
            <div class="twelve column breadcrumb">
                <ul>
                    <li><a href="https://old-dev-web.badblock.fr">Accueil</a></li>
                    <li class="current-page"><a href="#">{{ title }}</a></li>
                </ul>
            </div>
        </div>
    </section>
{% endif %}
<!-------page-title fin ------->

<!-- COVER  -->
{% if block('cover') is defined %}
    {{ block('cover') }}
{% endif %}
<!-- END COVER -->

<!-- CONTENT -->
<div class="container content">
    {{ block('content') }}
</div>
<!-- fin CONTENT -->

<!-- Statistiques -->
<div class="stats-back">
    <div class="stats">
        <div class="container">
            <div class="four columns">
                <i class="colored-icon game-colored-icon"></i>
                play.badblock.fr
            </div>
            <div class="four columns">
                <i class="colored-icon user-colored-icon"></i>
                330 Joueurs connectés
            </div>
            <div class="four columns">
                <i class="colored-icon tchat-colored-icon"></i>
                ts.badblock.fr
            </div>
        </div>
    </div>
</div>
<!-- Fin Statistiques -->
<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="four columns">
            <div class="footer-title-container">
                <img src="https://static.badblock.fr/images/logo_small.png" class="footer-logo">
                <h4 class="footer-title">BadBlock</h4>
            </div>
        </div>
        <div class="four columns">
            <div class="footer-links-title-container">
                <h5 class="footer-links-title">
                    <span>Liens</span>
                </h5>
            </div>
            <ul class="footer-links">
                <li><a href="#">Réglement</a></li>
                <li><a href="#">Notre Equipe</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </div>
        <div class="four columns">
            <div class="footer-links-title-container">
                <h5 class="footer-links-title">
                    <span>Réseaux sociaux</span>
                </h5>
            </div>
            <ul class="footer-links footer-social-links">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="footer-footer">
            <a href="mailto:contact@badblock.fr">contact@badblock.fr</a>
        </div>
    </div>
</div>
<!-- Fin footer -->

<!-- Back to top -->
<a href="#" class="scrollToTop no-link" title="Cliquer pour revenir en haut de page"><i
            class="icon icon-circle-arrow-up"></i> </a>
<!-- Fin back to top -->

<!-- Login Modal -->
<div class="remodal modal-remodal" data-remodal-id="login-modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Connectez vous</h1>
    <p>
        <!-- Login Form -->
    <form>
        <label for="username">Votre nom d'utilisateur</label>
        <input class="u-full-width" type="text" placeholder="John Doe" id="username">
        <label for="password">Votre mot de passe</label>
        <input class="u-full-width" type="password" placeholder="******" id="password">
        <a href="#" class="">J'ai oublié mon mot de passe</a><br><br>
        <a class="button button-danger" href="register.html">Inscription</a>
        <button class="button button-success" type="submit">Se connecter</button>
    </form>
    <!-- Fin login form -->
    </p>
    <br>

</div>
<!-- Fin login modal -->

<!-- JS -->
<script src="/dist/js/app.min.js"></script>
{% if block("scripts") is defined %}
    {{ block('scripts') }}
{% endif %}
<!-- Fin Js -->
</body>
</html>
