{% extends 'default.twig' %}
{% set show_title = false %}
{% set title = "Statistiques" %}
{% set description = "Accède gratuitement à toutes les statistiques du serveur. Les données précises du serveur ainsi que les statistiques des joueurs peuvent être accessibles depuis le statistiques." %}
{% set sub_title = "Sur le serveur" %}
{% block cover %}
    <nav class="stats-nav-container" xmlns:http="http://www.w3.org/1999/xhtml">
        <ul class="stats-nav">
            <li>
                <a href="#" title="Statistiques générales">Général</a>
            </li>
            <li class="active">
                <a href="#" title="Statistiques Jeux">Jeux</a>
            </li>
            <li>
                <a href="#" title="Statistiques Joueurs">Joueurs</a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    {# Comme un dashboard kibana, on liste differants panel avec le système de colums #}
    {# (metric) Un panel avec le numbre des joueurs connectés #}
    {# (chart) Un panel avec le numbre de connectés by time #}
    <!-- Main content -->
    <div class="games-list mosaic">
        <article class="card">
            <a href="##" title="">
                <header class="card-thumb">
                    <div class="img" style="background-image: url('https://cdn.badblock.fr/wd/css/img/cover.png')" alt="Cover" title="Cover"></div>
                </header>
            </a>
            <div class="card-body">
                <div class="card-title"><a
                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">ssdsdsdsd</a>
                </div>
                <div class="card-subtitle">
                </div>
                <p class="card-description">The best in the world!</p>
            </div>
        </article>
        <article class="card">
            <a href="##">
                <header class="card-thumb">
                    <div class="img" style="background-image: url('https://cdn.badblock.fr/wd/css/img/cover.png')"></div>
                </header>
            </a>
            <div class="card-body">
                <div class="card-title"><a
                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">ssdsdsdsd</a>
                </div>
                <div class="card-subtitle">
                </div>
                <p class="card-description">The best in the world!</p>
            </div>
        </article>
        <article class="card">
            <a href="##">
                <header class="card-thumb">
                    <div class="img" style="background-image: url('https://cdn.badblock.fr/wd/css/img/cover.png')" title="Cover" alt="Cover"></div>
                </header>
            </a>
            <div class="card-body">
                <div class="card-title"><a
                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">ssdsdsdsd</a>
                </div>
                <div class="card-subtitle">
                </div>
                <p class="card-description">The best in the world!</p>
            </div>
        </article>
        <article class="card">
            <a href="##">
                <header class="card-thumb">
                    <div class="img" style="background-image: url('https://cdn.badblock.fr/wd/css/img/cover.png')"></div>
                </header>
            </a>
            <div class="card-body">
                <div class="card-title"><a
                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">ssdsdsdsd</a>
                </div>
                <div class="card-subtitle">
                </div>
                <p class="card-description">The best in the world!</p>
            </div>
        </article>
        <article class="card">
            <a href="##">
                <header class="card-thumb">
                    <div class="img" style="background-image: url('https://cdn.badblock.fr/wd/css/img/cover.png')"></div>
                </header>
            </a>
            <div class="card-body">
                <div class="card-title"><a
                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">ssdsdsdsd</a>
                </div>
                <div class="card-subtitle">
                </div>
                <p class="card-description">The best in the world!</p>
            </div>
        </article>
        <article class="card">
            <a href="##">
                <header class="card-thumb">
                    <div class="img" style="background-image: url('https://cdn.badblock.fr/wd/css/img/cover.png')"></div>
                </header>
            </a>
            <div class="card-body">
                <div class="card-title"><a
                            href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">ssdsdsdsd</a>
                </div>
                <div class="card-subtitle">
                </div>
                <p class="card-description">The best in the world!</p>
            </div>
        </article>
    </div>
{% endblock %}