{% extends "default.twig" %}
{% set active_page = "stats" %}
{% set show_title = false %}
{% set title = "Statisques" %}
{% set sub_title = "Linker votre compte pour accèder a toutes les fonctionnalités du site !" %}
{% block cover %}
    <!-- Recharger -->
    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <h1>dd</h1>
                    </div>
                    <div class="recharge-button">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control ui-input" placeholder="Nom du joueur">
                        </div>
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Rechercher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->
{% endblock %}
{% block content %}
    <!-- Main content -->
    <div class="twelve columns">
        <center><h1>Statistiques Serveur :</h1></center>
        <section class="shop-section" class="tabcontent">
            <h4 class="heading heading-bar"><span>Statistiques serveur</span></h4>
            <div class="product-list">

            </div>
        </section>
        <div class="row">
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                                <h2 class="cover-heading">2 000 000</h2>
                                <h3 class="cover-heading">Joueurs uniques</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">1555</h2>
                            <h3 class="cover-heading">Joueurs connectés</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">20</h2>
                            <h3 class="cover-heading">Nouveau joueurs</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="twelve columns">
        <center><h1>Statistiques Forum & site :</h1></center>
        <div class="row">
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">2000</h2>
                            <h3 class="cover-heading">Membres</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">2000</h2>
                            <h3 class="cover-heading">Messages</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">20</h2>
                            <h3 class="cover-heading">Topics</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">200</h2>
                            <h3 class="cover-heading">Votes aujourd'hui</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">2000</h2>
                            <h3 class="cover-heading">Achat aujourd'hui</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="cover-back" style="background-image: url({{ post.cover_url }})">
                    <div class="cover cover-profile">
                        <div class="container">
                            <h2 class="cover-heading">2000</h2>
                            <h3 class="cover-heading">Visites</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}