{% extends 'default.twig' %}
{% set active_page = "stats" %}
{% set show_title = false %}
{% set title = "Statistiques" %}
{% set sub_title = "Sur le serveur" %}
{% block cover %}
    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">

    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <button class="button-games" onclick="location.href='/stats/all/Bedwars/'" id="bedwars" title="Statistiques Bedwars"><span>BedWars</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/TowerRun/'" id="tower" title="Statistiques Tower Run"><span>TowerRun</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="tower" title="Statistiques Tower"><span>Tower</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/Rush/'" id="rush" title="Statistiques Rush"><span>Rush</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/UHCSpeed/'" id="uhcspeed" title="Statistiques UHCSpeed"><span>UHCSpeed</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/SpaceBalls/'" id="spaceballs" title="Statistiques Spaceballs"><span>SpaceBalls</span></button>
                </div>
                <div class="one-half column animated bounceInLeft">
                    <div class="search-container">
                        <div class="games-info">
                            <div class="search-container">
                                <div class="btn-group">
                                    <input class="u-middle-width input-search" id="player_search" type="text" placeholder="Rechercher un Joueur" name="search" onkeypress="searchPlayer()" >
                                    <button class="button-search" type="submit" onclick="search()"><!--Recherche--><i class="fas fa-search"></i></button>
                                </div>
                                <ul class="search" id="search_down">
                                    <li><a href="#">Aucun résultat</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="animated">
                        <a class="button button-primary" href="/play"><i class="icon-play icon"></i> Jouer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="twelve columns">
            <div class="stats-home">
                <h4 class="heading heading-bar"><span>Statistiques Générales</span></h4>
                <div class="col-3">
                    <h3 id="players-count">{{ connected|number_format(0, '', ' ') }}</h3>
                        <p>Joueurs connectés</p>
                </div>
                <div class="col-3">
                    <h3>{{ stats['registred']|number_format(0, '', ' ') }}</h3>
                        <p>Joueurs inscrits</p>
                </div>
                <div class="col-3">
                    <h3>{{ stats['staff']|number_format(0, '', ' ') }}</h3>
                        <p>Membres du staff</p>
                </div>
                <div class="col-3">
                    <h3>{{ stats['message_forum']|number_format(0, '', ' ') }}</h3>
                        <p>Messages sur le Forum</p>
                </div>
                <div class="col-3">
                    <h3>{{ c_ts|number_format(0, '', ' ') }}</h3>
                        <p>Joueurs connectés au TeamSpeak</p>
                </div>
                <div class="col-3">
                    <h3>{{ stats['article']|number_format(0, '', ' ') }}</h3>
                        <p>Articles sur le site</p>
                </div>
            </div>
        </div>
    </div>
    <div class="stats-home">
        <div class="two colmuns">
            <div id="playergraph" style="margin: 0 auto"></div>
        </div>
    </div>
    <div class="content">
        <div class="twelve columns">
            <!--<h4 class="heading heading-bar"><span>Statistiques Guardian</span></h4>-->
            <div class="stats-home">
                <div class="six columns">
                    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="stats-home">
                <div class="six columns">
                    <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="twelve columns">
        <br />
            <p class="ita">Le Guardian est un anti cheat développé par xMalware. C'est un robot, détectant une grande panoplie de cheats, il filtre aussi les messages selon une liste de termes interdits. Ceux-ci sont envoyés à tous les modérateurs qui prennent ensuite le relais. Étant donné que c'est un robot, il peut se tromper. Mais il a su acquérir avec son expérience une grande rigueur dans l'art de détecter les petits malins outrepassant le règlement.</p>
        </div>
    </div>
    <div class="stats-home">
        <div class="col-3">
            <h3 id="players-count">{{ stats['ban']|number_format(0, '', ' ') }}</h3>
                <p>Joueurs suspendus</p>
        </div>
        <div class="col-3">
            <h3>{{ stats['mute']|number_format(0, '', ' ') }}</h3>
                <p>Joueurs baillonés</p>
        </div>
        <div class="col-3">
            <h3>{{ stats['banGuardian']|number_format(0, '', ' ') }}</h3>
                <p>Joueurs suspendus par le Guardian</p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<!-- Ul recherche des joueurs -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
        function search() {

            pseudo = $('#player_search').val();
            if (pseudo != ""){
                window.location.href = '/profile/' + pseudo;
            }
        }
    </script>

    <script type="text/javascript">
        document.addEventListener("click", (evt) => {
            const flyoutElement = document.getElementById("player_search");
            let targetElement = evt.target;

            do {
                if (targetElement == flyoutElement) {

                    document.getElementById("search_down").style.display = "block";
                    return;
                }

                targetElement = targetElement.parentNode;
            } while (targetElement);

            document.getElementById("search_down").style.display = "none";
        });
    </script>
    <script>
        function searchPlayer() {

            input = document.getElementById("player_search");
            filter = input.value.toUpperCase();
            ul = document.getElementById("search_down");
            li = ul.getElementsByTagName("li");

            last = "";

            $.ajax({
                url: '/api/stats/search',
                type: "POST",
                data: { search_player : filter},
                success: function(data) {
                    data = JSON.parse(data);
                    $("#search_down").empty();
                    for (i = 0; i < data.length; i++) {
                        if (data[i] != last){
                            $("#search_down").append('<li><a href="/profile/' + data[i]["username"] +'"><img src="https://cdn.badblock.fr/head/' + data[i]["username"] + '/64.png">' + data[i]["username"] + '</a></li>');

                            last = data[i];
                            console.log(data[i]);

                            for (i = 0; i < li.length; i++) {
                                a = li[i].getElementsByTagName("a")[0];
                                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                    li[i].style.display = "block";
                                } else {
                                    li[i].style.display = "none";

                                }
                            }
                        }
                    }
                }
            });



        }
    </script>


    <script>


        $(function(){
            function playerAj() {
                $.ajax({
                    url: '/api/minecraft/players',
                    success: function(data) {
                        if (data.players.now != null){
                            var n = parseInt(data.players.now);
                            var value = n.toLocaleString(
                                'fr-FR',
                                { minimumFractionDigits: 0 }
                            );
                            $("#players-count").text(value);
                        }
                        setTimeout(playerAj, 3000);
                    }
                });
            };

            playerAj();
        });
    </script>
    <script>
            Highcharts.chart('playergraph', {

                chart: {
                    type: 'areaspline'
                },

                tooltip: {
                    shared: true,
                    valueSuffix: ' joueurs'
                },

                title: {
                 text: 'Joueurs connectés sur le serveur'
                },

                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 150,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },

                series: [
                    {
                        name: 'Joueurs connectés',
                        data: [
                            [1534773556000, 36],
                            [1534773656000, 37],
                            [1534773756000, 37],
                            [1534773856000, 38],
                            [1534773956000, 39]]
                    }
                ],

                yAxis: {
                    title: {
                        text: 'Temps'
                    }
                }

            });
    </script>
    <script>

        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Nombre de détections en fonction du type de cheat'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Bans',
                colorByPoint: true,
                data: [
                    {% for data,key in guardian %}
                    {
                        name: '{{ key['name'] }}',
                        y: {{ key['number'] }}
                    },
                    {% endfor %}
                ]
            }]
        });
    </script>
    <script>

        Highcharts.chart('container2', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Évolution des suspensions Guardian sur 30 jours'
            },
            xAxis: {
                categories: [
                    {% for data,key in gstats %}
                        '{{ key['date'] }}',
                    {% endfor %}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Bans'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} bans</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Guardian',
                data: [{% for data,key in gstats %} {{ key['number'] }}, {% endfor %}]

            }]
        });
    </script>

{% endblock %}