{% extends 'default.twig' %}
{% set active_page = "stats" %}
{% set show_title = false %}
{% set title = "Statistiques" %}
{% set sub_title = "Sur le serveur" %}
{% block cover %}
    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">

    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="tower"><span>Tower</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="tower"><span>Tower Run</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/rush/'" id="rush">Rush</button>
                    <button class="button-games" onclick="location.href='/stats/all/survival/'" id="survival">Survival</button>
                    <button class="button-games" onclick="location.href='/stats/all/survival/'" id="survival">SkyWars</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="uhc_speed">UHC Speed</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="peal_wars">Pearl Wars</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="spaceballs">SpaceBalls</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="capture_the_sheep">Capture The Sheep</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="capture_the_sheep">Build Contest</button>
                    <button class="button-games" onclick="location.href='/stats/all/Box/'" id="pvp_box">Pvp-Box</button>
                </div>
                <div class="one-half column animated bounceInLeft">
                    <div class="search-container">
                        <div class="games-info">
                            <div class="search-container">
                                <form action="/action_page.php">
                                    <label>Rechercher un Joueur</label>
                                    <input class="u-middle-width" id="player_search" type="text" placeholder="Recherchez un joueur" name="search" onFocus='showDiv();' onBlur='hideDiv();'>
                                    <button class="button-search" type="submit"><!--Recherche--><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="animated">
                        <a class="button button-primary" href="/play"><i class="icon-play icon"></i> Jouer</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container content">
        <div class="twelve columns">
            <div class="stats-home">
                <h4 class="heading heading-bar"><span>Statistiques Générales</span></h4>
                <div class="col-3">
                    <a href="#player-modal"><h3 id="players-count">{{ connected }}</h3>
                        <p>Joueurs connectés</p></a>
                </div>
                <div class="col-3">
                    <a href="#account-modal"><h3>{{ stats['registred'] }}</h3>
                        <p>Joueurs inscrits</p></a>
                </div>
                <div class="col-3">
                    <a href="#ban-modal"><h3>{{ stats['staff'] }}</h3>
                        <p>Membres du staff</p></a>
                </div>
                <div class="col-3">
                    <a href="#player-active-modal"><h3>{{  stats['message_forum'] }}</h3>
                        <p>Messages sur le Forum</p></a>
                </div>
                <div class="col-3">
                    <a href="#followers-modal"><h3>{{ c_ts }}</h3>
                        <p>Joueurs Connectés au TeamSpeak</p></a>
                </div>
                <div class="col-3">
                    <a href="#line-modal"><h3>{{ stats['article'] }}</h3>
                        <p>Articles sur le site</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="info-stats">
            <h4 class="heading heading-bar"><span>Informations sur les Statistiques</span></h4>

            <h5>Les statistiques d'un serveur en disent long sur celui-ci. C'est pourquoi nous avons choisi de les rendre publiques. Pas toutes évidemment mais vous pouvez consulter les statistiques générales sur cette page, ou alors celles des joueurs de Badblock via l'onglet prévu à cet effet.
                Les classements des jeux sont également disponibles et vous permettent de savoir votre position ce mois-ci, et depuis la mise en place de ceux-ci.
                Les statistiques sont mises à jour tous les <b>30 minutes automatiquement</b> .
                Bon jeu sur nos plateformes.</h5>
        </div>
    </div>
    <div class="container content">
        <div class="twelve columns">
            <div class="stats-home">
                <h4 class="heading heading-bar"><span>Statistiques Serveur</span></h4>
                <div class="col-3">
                    <a href="#player-modal"><h3 id="players-count">0</h3>
                        <p>Joueurs connectés</p></a>
                </div>
                <div class="col-3">
                    <a href="#account-modal"><h3>{{ stats['registred'] }}</h3>
                        <p>Joueurs inscrits</p></a>
                </div>
                <div class="col-3">
                    <a href="#ban-modal"><h3>{{ stats['banGuardian'] }}</h3>
                        <p>Ban Guardian</p></a>
                </div>
                <div class="col-3">
                    <a href="#player-active-modal"><h3>{{ stats['mute'] }}</h3>
                        <p>Joueurs Mute</p></a>
                </div>
                <div class="col-3">
                    <a href="#followers-modal"><h3>{{ stats['ban'] }}</h3>
                        <p>Joueurs Ban</p></a>
                </div>
                <div class="col-3">
                    <a href="#line-modal"><h3>{{ stats['banMod'] }}</h3>
                        <p>Ban Modération</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="info-stats">
            <h4 class="heading heading-bar"><span>Informations sur le Guardian</span></h4>

            <h5>Le guardian est un anti cheat développé par xMalware. C'est un robot, détectant donc une grande panoplie de cheats mais il filtre aussi les messages selon une liste de termes interdits. Ceux-ci sont envoyés à tous les modérateurs et le relai est donc passé à la modération. Étant donné que c'est un robot, il se peut qu'il se trompe. Mais il a su acquérir avec son expérience une grande rigueur dans l'art de détecter les petits malins outrepassant le règlement.</h5>
        </div>
    </div>
    <div class="container content">
        <div class="twelve columns">
            <div class="stats-home">
                <h4 class="heading heading-bar"><span>Statistiques Guardian</span></h4>
                <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

<!-- Ul recherche des joueurs -->
<ul class="search" id="search" style="display: none; width: 428px; left: 1002px; top: 331px;">
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
    <li><img src="https://guiria.badblock.fr/head/Teckso32/64.png"><a href="#">Fragan</a></li>
</ul>


{% endblock %}
{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function(){

            // Document is ready

            $("#player_search").keyup(function()
            {
                $.ajax({
                    type: "POST",
                    url: "/api/stats/search",
                    data: {'search_player' : $( "#player_search" ).val()},
                    dataType: "text",
                    success: function(msg)
                    {
                        //Receiving the result of search here
                    }
                });

            });

        });
    </script>

    <script>

        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Nombre de détections en fonction du type de cheat'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Bans',
                colorByPoint: true,
                data: [
                    {% for data,key in guardian %}
                    {
                        name: '{{ key['name'] }}',
                        y: {{ key['number'] }}
                    },
                    {% endfor %}
                ]
            }]
        });
    </script>
    <script>

        Highcharts.chart('container2', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Évolution des suspensions Guardian sur 30 jours'
            },
            xAxis: {
                categories: [
                    {% for data,key in gstats %}
                        '{{ key['date'] }}',
                    {% endfor %}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Bans'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} bans</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Guardian',
                data: [{% for data,key in gstats %} {{ key['number'] }}, {% endfor %}]

            }]
        });
    </script>
    <script>
    function showDiv(){
        document.getElementById('search').style.display = 'inline-block';
    }
 
 
    function hideDiv(){
        document.getElementById('search').style.display = 'none';
    }
    </script>
{% endblock %}