{% extends 'default.twig' %}
{% set description = "Accède gratuitement à toutes les statistiques du serveur. Les données précises du serveur ainsi que les statistiques des joueurs peuvent être accessibles depuis le statistiques." %}
{% set show_title = true %}
{% set active_page = "stats" %}
{% set title = name %}
{% block cover %}

  <link rel="stylesheet" type="text/css" href="https://cdn.badblock.fr/wd/css/global.css">

  <div class="header-too-big">
  </div>
  <div class="cover-back podium-cover">
        <div class="cover">
            <div class="container">
                <div class="podium-cover-content">
                  <!--<a onclick="document.location = '/profile/{{  datatop[0]['playerName'] }}';" target="_blank" class="button-first-place">{{ datatop[0]['playerName'] }}</a><br>!-->
                    <a href="/profile/{{ datatop[0]['playerName'] }}" title="Profil de {{ datatop[0]['playerName'] }}">
                      <img src="https://cdn.badblock.fr/head/{{ datatop[0]['playerName'] }}/100.png" title="Tête de {{ datatop[0]['playerName'] }}" alt="Tête de {{ datatop[0]['playerName'] }}" />
                    </a>
                    <a href="/profile/{{ datatop[1]['playerName'] }}" title="Profil de {{ datatop[1]['playerName'] }}">
                      <img src="https://cdn.badblock.fr/head/{{ datatop[1]['playerName'] }}/75.png" title="Tête de {{ datatop[1]['playerName'] }}" alt="Tête de {{ datatop[1]['playerName'] }}">
                    </a>
                    <a href="/profile/{{ datatop[2]['playerName'] }}" title="Profil de {{ datatop[2]['playerName'] }}">
                      <img src="https://cdn.badblock.fr/head/{{ datatop[2]['playerName'] }}/50.png" title="Tête de {{ datatop[2]['playerName'] }}" alt="Tête de {{ datatop[2]['playerName'] }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<!-- DEBUT TABLEAU !-->
<table class="u-full-width table-stats">
  <thead>
    <tr class="table-stats-head">
      <th class="decoration-thead decoration-place">Place</th>
      <th class="decoration-thead decoration-nickname">Pseudonyme</th>
      <th class="decoration-thead decoration-class">Points de Classement</th>
      <th class="decoration-thead decoration-kill">Kills</th>
      <th class="decoration-thead decoration-death">Morts</th>
      <th class="decoration-thead decoration-points">Points</th>
      <th class="decoration-thead decoration-win">Parties Gagnées</th>
      <th class="decoration-thead decoration-lose">Parties Perdues</th>
    </tr>
  </thead>

<!-- PREMIERE PLACE !-->

  <tbody>
    <tr onclick="document.location = '/profile/{{  datatop[0]['playerName'] }}';" class="animation-table">
      <td class="decoration-td decoration-place">#1</td>
      <td class="decoration-td decoration-nickname">
        <img src="https://cdn.badblock.fr/head/{{ datatop[0]['playerName'] }}/16.png" class="avatar" title="Tête de {{ datatop[0]['playerName'] }}" alt="Tête de {{ datatop[0]['playerName'] }}" />
          {{  datatop[0]['playerName'] }}
      </td>
      <td class="decoration-td decoration-class">{{  datatop[0]['_points'] }}</td>
      <td class="decoration-td decoration-kill">{{  datatop[0]['kills'] }}</td>
      <td class="decoration-td decoration-death">{{  datatop[0]['deaths'] }}</td>
      <td class="decoration-td decoration-points">{{  datatop[0]['marks'] }}</td>
      <td class="decoration-td decoration-win">{{  datatop[0]['wins'] }}</td>
      <td class="decoration-td decoration-lose">{{  datatop[0]['looses'] }}</td>
    </tr>

<!-- DEUXIEME PLACE !-->

    <tr onclick="document.location = '/profile/{{  datatop[1]['playerName'] }}';" class="animation-table">
      <td class="decoration-td decoration-place">#2</td>
      <td class="decoration-td decoration-nickname">
        <img src="https://cdn.badblock.fr/head/{{ datatop[1]['playerName'] }}/16.png" class="avatar" title="Tête de {{ datatop[1]['playerName'] }}" alt="Tête de {{ datatop[1]['playerName'] }}" />
          {{  datatop[1]['playerName'] }}
      </td>
        <td class="decoration-td decoration-class">{{  datatop[1]['_points'] }}</td>
        <td class="decoration-td decoration-kill">{{  datatop[1]['kills'] }}</td>
        <td class="decoration-td decoration-death">{{  datatop[1]['deaths'] }}</td>
        <td class="decoration-td decoration-points">{{  datatop[1]['marks'] }}</td>
        <td class="decoration-td decoration-win">{{  datatop[1]['wins'] }}</td>
        <td class="decoration-td decoration-lose">{{  datatop[1]['looses'] }}</td>
    </tr>

<!-- TROISIEME PLACE !-->

    <tr onclick="document.location = '/profile/{{  datatop[2]['playerName'] }}';" class="animation-table">
      <td class="decoration-td decoration-place">#3</td>
      <td class="decoration-td decoration-nickname">
        <img src="https://cdn.badblock.fr/head/{{ datatop[2]['playerName'] }}/16.png" class="avatar" title="Tête de {{ datatop[2]['playerName'] }}" alt="Tête de {{ datatop[2]['playerName'] }}" />
          {{  datatop[2]['playerName'] }}
      </td>
        <td class="decoration-td decoration-class">{{  datatop[2]['_points'] }}</td>
        <td class="decoration-td decoration-kill">{{  datatop[2]['kills'] }}</td>
        <td class="decoration-td decoration-death">{{  datatop[2]['deaths'] }}</td>
        <td class="decoration-td decoration-points">{{  datatop[2]['marks'] }}</td>
        <td class="decoration-td decoration-win">{{  datatop[2]['wins'] }}</td>
        <td class="decoration-td decoration-lose">{{  datatop[2]['looses'] }}</td>
    </tr>

<!-- QUATRIEME A VINGTIEME PLACE !-->

    {% for data,key in data %}
    <tr onclick="document.location = '/profile/{{  key['playerName'] }}';" class="animation-table">
      <td class="decoration-td decoration-place">#{{ data+1 }}</td>
      <td class="decoration-td decoration-nickname">
        <img src="https://cdn.badblock.fr/head/{{ key['playerName'] }}/16.png" class="avatar" title="Tête de {{ key['playerName'] }}" alt="Tête de {{ key['playerName'] }}" />
          {{  key['playerName'] }}
      </td>
      <td class="decoration-td decoration-class">{{  key['_points'] }}</td>
      <td class="decoration-td decoration-kill">{{  key['kills'] }}</td>
      <td class="decoration-td decoration-death">{{  key['deaths'] }}</td>
      <td class="decoration-td decoration-points">{{  key['marks'] }}</td>
      <td class="decoration-td decoration-win">{{  key['wins'] }}</td>
      <td class="decoration-td decoration-lose">{{  key['looses'] }}</td>
    </tr>
   {% endfor %}



  </tbody>

</table>

{% endblock %}